---
import Layout from '../../layouts/Layout.astro'
import SettingsMockup from '../../components/Docs/SettingsMockup.astro'
import '../../styles/settingsmockup.css'
---

<Layout title={`Wiki · Bonjourr Startpage`} lang='en'>
	<div class='heading'>
		<h1>Reworked and detailed documentation</h1>
		<p>Interface · <u>Settings</u> · Other</p>
	</div>

	<div class='content-container'>
		<main>
			<h2>This option explained</h2>
			<p>
				hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptatibus distinctio
				consequatur voluptatum aperiam quod similique voluptatem nihil, minus laudantium sapiente sequi. Voluptas
				dolores dignissimos iste aperiam, dolorum non magnam.
			</p>

			<video src='/documentation/videos/move-elem.mp4' controls muted></video>

			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, hic.</p>

			<ul>
				<li>gfiuhosdfgouhgshuio</li>
				<li>thopipjhdriuo hr i</li>
				<li>fdlikjdf iuo h</li>
				<li>dsfmkijn diuh fhiu</li>
			</ul>

			<p>
				Doloremque accusantium temporibus voluptate nobis eaque unde repudiandae ipsa alias doloribus mollitia
				recusandae, eius laudantium reiciendis id architecto, eum excepturi!
			</p>
		</main>
		<aside>
			<SettingsMockup />
		</aside>
	</div>
</Layout>

<style is:global>
	nav {
		position: relative !important;
	}

	nav a {
		color: inherit;
	}
</style>

<style>
	.content-container {
		display: flex;
		justify-content: space-between;
		margin: auto;
		margin-bottom: 200px;
		max-width: 1200px;
	}

	body {
		background-color: #000;
		color: #ddd;
		min-height: 100vh;
	}

	div.heading {
		margin: 10vh 0;
		text-align: center;
	}

	main {
		position: sticky;
		height: min-content;
		top: 6em;
		margin-top: 6em;
		max-width: 600px;
	}

	video {
		display: block;
		width: 100%;
		margin: 2em auto;
		border-radius: 0.5em;
	}

	aside {
		width: fit-content;
		border-radius: 1em;
	}
</style>
