---
import OverviewFilter from "@components/Docs/OverviewFilter.astro"
import { Code } from "astro-expressive-code/components"
import Docs from "@layouts/Docs.astro"

const customQuotesExample = `Author, Your quote.
Author, Your second quote.`
---

<Docs
	title="Features overview"
	lang="en"
	thumbnail="/documentation/backgrounds/saad-chaudhry-sAJlWye9at8.jpg"
>
	<OverviewFilter />

	<section id="interface">
		<h2>🖥️ Main interface tips</h2>

		<p>
			When using the default backgrounds, hover your mouse on the background credits at the
			bottom left corner of Bonjourr to get the EXIF info of the photo (when available).
		</p>

		<img
			src="/documentation/overview/exif.png"
			alt="Bonjourr's infos on the current photo"
			style="max-width: 400px; margin-inline: auto; margin-block: 2em; display: block;"
			loading="lazy"
		/>

		<p>
			Clicking the <bjrbtn>Download</bjrbtn> icon will download the photo to your computer at its
			highest possible resolution.
		</p>
	</section>

	<hr />

	<section id="general-settings">
		<h2>⚙️ General settings tips</h2>

		<h3 id="access-settings">Accessing the settings panel</h3>

		<p>There are two ways you can access the settings of Bonjourr:</p>

		<ul>
			<li>Click on the ⚙️ icon in the bottom right corner.</li>
			<li>Hit the <code>esc</code> key of your keyboard (while focused on the page).</li>
		</ul>

		<h3 id="show-all-settings">Show all settings</h3>

		<p>
			Bonjourr has lots of settings. To make it easier for newcomers, we hide most of the more
			advanced ones by default. You can enable them by toggling <bjr>Show all settings</bjr> at
			the very top of the settings panel.
		</p>

		<h3 id="hide-settings">Hide settings icon</h3>
		<p>
			When toggling the <bjr>Hide settings icon</bjr> option, the icon is still clickable at the
			same position as before.
		</p>

		<video src="/documentation/overview/hide-icon.mp4" controls muted></video>
	</section>

	<hr />

	<section id="newtab-title">
		<h2>📌 Tab appearance</h2>

		<p>
			You can customize the text and icon (called favicon) your browser uses for Bonjourr.
			Text is limited to 80 characters, and icons can only be emojis.
		</p>

		<img
			src="/documentation/overview/tab-appearance.png"
			alt="Bonjourr's customised tab"
			style="max-width: 400px; margin-inline: auto; margin-block: 2em; display: block;"
			loading="lazy"
		/>

		<p>The emoji option might be limited by your browser:</p>

		<ul>
			<li>
				Firefox has imperfect scaling/alignments (<a
					href="https://github.com/victrme/Bonjourr/issues/431">GitHub issue</a
				>).
			</li>
			<li>Microsoft Edge will only show the silhouette of the emoji.</li>
			<li>Safari doesn't support it at all.</li>
		</ul>

		<p>Here is how you can write emojis:</p>

		<ul>
			<li>Windows: <code>WIN + .</code> (Windows Key + dot)</li>
			<li>macOS: <code>CTRL + CMD + Space</code></li>
			<li>
				<span>You can also copy and paste them from the Internet: </span>
				<a href="https://unicode.org/emoji/charts/full-emoji-list.html"
					>unicode.org/emoji/charts/full-emoji-list</a
				>.
			</li>
		</ul>
	</section>

	<hr />

	<section id="backgrounds">
		<h2>🖼️ Backgrounds</h2>

		<p>
			Bonjourr uses the <a href="https://unsplash.com/developers">Unsplash API</a> to fetch its
			backgrounds. We select them manually and store them in four different collections that change
			according to the time of the day:
		</p>

		<ul>
			<li>
				One for <a
					href="https://unsplash.com/collections/GD4aOSg4yQE/bonjourr-backgrounds-(noon)"
					>the morning</a
				> (2h around sunrise).
			</li>
			<li>
				One for <a
					href="https://unsplash.com/collections/o8uX55RbBPs/bonjourr-backgrounds-(day)"
					>the day</a
				>.
			</li>
			<li>
				One for <a
					href="https://unsplash.com/collections/3M2rKTckZaQ/bonjourr-backgrounds-(evening)"
					>the evening</a
				> (2h around sunset).
			</li>
			<li>
				And one for <a
					href="https://unspla.sh.com/collections/bHDh4Ae7O8o/bonjourr-backgrounds-(night)"
					>the night</a
				>.
			</li>
		</ul>

		<h3 id="unsplash-collection">Custom Unsplash collection</h3>

		<p>You can use any collection on Unsplash as a background source in Bonjourr. To do so:</p>

		<ol>
			<li>
				Find one you like by going to <a href="https://unsplash.com">unsplash.com</a>,
				search for a subject and go to the Collections tab.
			</li>
			<li>
				Once you've clicked on the collection you want, check out its URL. What you want is
				the ID, which is the string of random letters and numbers. For example, if your
				collection's URL is <code
					>https://unsplash.com/collections/2170139/wolfdogs-of-unsplash</code
				>, the ID is <code>2170139</code>.
			</li>
			<li>
				Head back to Bonjourr and after having checked <bjr>Show all settings</bjr> at the top
				of the settings panel, paste the ID in the <bjr>Unsplash collection</bjr> field. You
				can add multiple collections by separating them with a comma.
			</li>
		</ol>

		<video src="/documentation/overview/custom-unsplash-collection.mp4" controls muted></video>

		<p>
			You can also create your own collection and select your own images, but then you'll need
			to create an Unsplash account.
		</p>

		<h3 id="local-backgrounds">Local files</h3>

		<p>
			Switch your <bjr>Background type</bjr> from "Unsplash" to "Local file", and you'll be able
			to select your own images from your computer and set them in Bonjourr.
		</p>
	</section>

	<hr />

	<section id="quick-links">
		<h2>🔗 Quick Links</h2>

		<p>Quick links are a way to easily manage the websites you visit regularly.</p>

		<h3 id="link-usage">Basic usage</h3>

		<p>
			You can add Quick Links by going to the settings of Bonjourr, in the Quick Links
			section. They are editable if you right click on them (or long press on mobile), which
			allows you to change their titles, URLs, icons and delete them.
		</p>

		<video autoplay loop muted playsinline>
			<source src="/documentation/overview/links-usage.mp4" type="video/mp4" />
			Your browser does not support the video tag.
		</video>

		<p>
			You can easily reorder your links by drag and dropping them, just like you would do on a
			phone. Additionally, dropping a link on another link will create a folder that contains
			them both. You can also edit that folder via right click.
		</p>

		<h3 id="link-import">Importing your links</h3>

		<p>
			Bonjourr integrates a way to import the existing links from your browser. To access it,
			click the <bjrbtn>Import bookmarks</bjrbtn> button. Depending on your browser, you will be
			shown multiple groups of links you will be able to import, such as your most visited websites
			and your bookmarks toolbars.
		</p>

		<img
			src="/documentation/overview/bookmarks-modal.png"
			alt="Bonjourr's bookmarks modal"
			loading="lazy"
		/>

		<p>You can select one or multiple groups, and then import them.</p>

		<h4>Syncing</h4>

		<p>
			Some importable groups, such as bookmarks, can be synced with your browser if you decide
			to click on <bjrbtn>Sync with browser</bjrbtn> before importing. This means they won't be
			editable in Bonjourr, but Bonjourr will update its links whenever you edit your bookmarks
			directly in the browser.
		</p>

		<p>
			Some groups (like the "Most visited" on Chrome) are only importable while synced and
			will get updated in Bonjourr whenever your browser decides to do so.
		</p>

		<h4>Google Apps</h4>

		<p>
			If you use Chrome, Bonjourr will offer you to import Google Apps as a way to replicate
			Chrome's default startpage's behaviour.
		</p>

		<h3 id="link-groups">Link groups</h3>

		<p>
			You can organize your links with link groups, an optional feature you can enable in
			settings. To add a group, hover to the right of the group titles until you see the <code
				>+</code
			> icon. You can rename and delete groups by right clicking on them. Deleting a group will
			delete all the links it contains.
		</p>

		<p>Just like with folders, you can:</p>

		<ul>
			<li>Drag and drop links from group to group.</li>
			<li>Drag and drop groups to reorder them.</li>
			<li>Rename a group by right clicking it.</li>
		</ul>

		<p>
			You can pin groups by selecting <bjrbtn>Pin this group</bjrbtn> after opening the context
			menu from the group title. This will make it so the group is always visible.
		</p>

		<img
			style="max-width: 400px; margin-inline: auto; display: block"
			src="/documentation/overview/link-groups.gif"
			alt="Bonjourr's link groups"
			loading="lazy"
		/>

		<h3 id="link-icons">Icons</h3>

		<p>
			Link icons are retrieved by our homemade service <a
				href="https://github.com/victrme/favicon-fetcher">favicon-fetcher</a
			>. If you find that a website is missing its icon, you can create an issue <a
				href="https://github.com/victrme/Bonjourr/issues">on GitHub</a
			> or send us an email, and we will do our best to fix it.
		</p>

		<h4 id="link-icons-custom">Custom icons</h4>

		<p>
			The <code>Icon</code> input you see when editing a link allows you to set a distant URL to
			any image file you want on the Internet. This URL can be:
		</p>

		<ul>
			<li>A distant URL: <code>https://en.wikipedia.org/favicon.ico</code>.</li>
			<li>A locally hosted URL: <code>http://127.0.0.1:4321/favicon.ico</code>.</li>
			<li>
				A <a href="https://dopiaza.org/tools/datauri/index.php">Data URI</a> smaller than 8kb:
				<code>data:image/gif;base64,R0lGOD...AA7</code>.
			</li>
		</ul>

		<p>But not a:</p>

		<ul>
			<li>File path: <code>file:///Users/Me/Pictures/flowers.png</code>.</li>
		</ul>

		<p>
			Some services like <a href="https://postimages.org/">postimages.org</a>, <a
				href="https://imgbb.com/">imgbb.com</a
			> or <a href="https://imgur.com/">Imgur</a> allow you to upload images to their server and
			give you a direct link to it. Although we are not affiliated with them, this can be a good
			and easy solution if you want to upload your own custom icons.
		</p>

		<video src="/documentation/overview/custom-icon.mp4" controls></video>

		<h4 id="link-icons-cache">Cache policy</h4>

		<p>
			Icons from favicon-fetcher are stored in the browser cache for a year. As long as the
			browser cache is not cleared, icons are not fetched (or updated) by the page. However,
			if the browser cache is often cleared or storage space is limited on your device, icons
			will have to be fetched from our service again.
		</p>

		<p>
			Icons you add manually from a distant URL will have a different cache policy that we are
			not in control of, which might cause the icon to be fetched often or even every time.
		</p>

		<p>
			⚠️ <i>Notice</i>: as a security measure, local paths like <code>file://</code>, browser
			settings links like <code>about:config</code> or <code>chrome://extensions</code> can't be
			added. However,
			<code>localhost:</code> links will work just fine.
		</p>
	</section>

	<hr />

	<section id="clock">
		<h2>🕰️ Time and date</h2>

		<p>
			The analog clock feature has many options you can play around with and get to really
			cool styles.
		</p>

		<img
			src="/documentation/overview/clock-styles.png"
			alt="Bonjourr's clock styles"
			loading="lazy"
		/>

		<p>Some things to know:</p>

		<ul>
			<li>Clicking the 🌙/☀️ icons on the sliders will switch from black to white.</li>
			<li>The analog clock background is blurred when its opacity is above 0.</li>
		</ul>

		<h3 id="world-clocks">World clocks</h3>

		<img
			src="/documentation/overview/world-clocks.png"
			alt="Bonjourr's world clock feature"
			loading="lazy"
		/>

		<p>
			<bjr>World clocks</bjr> allows you to add multiple clocks with different timezones. Removing
			the name of a world clock will remove the clock entirely.
		</p>
	</section>

	<hr />

	<section id="weather">
		<h2>🌤️ Weather</h2>

		<p>
			Precise geolocation needs access to your device's GPS. Some browsers or systems might
			not allow access based on its privacy setting. macOS / Safari often causes problems.
		</p>

		<p>
			If there are multiple cities with the same name in your country, it might cause an
			issue. A good trick to fix this is to choose the name of the closest city with a unique
			name.
		</p>

		<p>
			Bonjourr doesn't have a "Refresh weather" option yet, but you can still do it by
			manually toggling between units (Celsius → Fahrenheit → Celsius).
		</p>

		<h3 id="detailed-weather">Detailed weather</h3>

		<p>
			<bjr>Detailed weather</bjr> allows you to easily go to a weather provider's website to get
			a detailed weather report. Once enabled, you can click on the weather widget to go to your
			chosen website.
		</p>

		<video src="/documentation/overview/weather-report.mp4" controls></video>

		<p>
			⚠️ We are in no way affiliated with MSN, Accuweather, Yahoo!, or Windy.com. These
			websites offer reports from different data provider, hence the choices.
		</p>
	</section>

	<hr />

	<section id="notes">
		<h2>✍️ Notes</h2>

		<p>
			Notes uses <a href="https://www.markdownguide.org/cheat-sheet/">Markdown</a> to create titles,
			lists, and checkboxes. To transform a line, just add these characters at the start of a line:
		</p>

		<ul>
			<li><code>#</code> large heading</li>
			<li><code>##</code> medium heading</li>
			<li><code>###</code> small heading</li>

			<li><code>-</code> classic list</li>
			<li><code>[ ]</code> checkbox (notice the space between the brackets)</li>
			<li><code>[x]</code> checkbox, checked</li>
		</ul>

		<video src="/documentation/overview/notes.mp4" controls></video>

		<p>Currently, other Markdown features, such as italics, are not supported.</p>

		<h3 id="notes-keybindings">Keybindings</h3>

		<p>
			You can use these keyboard shortcuts while editing your Note. Replace `Ctrl` with `cmd`
			on macOS.
		</p>

		<table>
			<thead>
				<th>Keys</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr>
					<td>Ctrl + Shift + 1</td>
					<td>Create large heading</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 2</td>
					<td>Create medium heading</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 3</td>
					<td>Create small heading</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 4</td>
					<td>Create bullet list</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 5</td>
					<td>Create todo list</td>
				</tr>
			</tbody>
		</table>
	</section>

	<hr />

	<section id="searchbar">
		<h2>🔎 Search bar</h2>

		<h3 id="sb-suggestions">Suggestions</h3>

		<p>
			Suggestions are provided by our own API. You can learn all about it and its source code <a
				href="https://github.com/victrme/search-suggestions">here</a
			>.
		</p>

		<h3 id="sb-custom-search">Custom search engine</h3>

		<p>
			There are many search engines available by default in Bonjourr, and you can even add
			others if needed. To do so, select <bjr>Custom</bjr> in the Search engine option of the search
			bar. When the <bjr>URL request</bjr> input appears, simply paste in the URL of the search
			engine and replace the searched text by <code>%s</code>.

			<p>
				For example, if you search "coffee" on YouTube, you'll see that the URL will be <code
					>https://www.youtube.com/results?search_query=coffee</code
				>.
			</p>

			<p>
				In this case, you just need to replace <code>coffee</code> with <code>%s</code>,
				giving you this result: <code>https://www.youtube.com/results?search_query=%s</code
				>.
			</p>

			<p>
				Paste it in the input and you'll now be able to use the corresponding search engine
				from Bonjourr.
			</p>

			<video src="/documentation/overview/custom-search.mp4" controls></video>

			<p>
				This method will work with the vast majority of search engines, making Bonjourr
				compatible with almost all of them.
			</p>
		</p>
	</section>

	<hr />

	<section id="quotes">
		<h2>🗣 Quotes</h2>

		<p>The quotes widget can fetch quotes from multiple sources:</p>

		<ul>
			<li>
				By default, our <b
					><a href="https://github.com/victrme/i18n-quotes">open source quotes API</a></b
				> available in multiple languages. These are general motivational or inspirational quotes
				that the community can manage through pull requests.
			</li>
			<li>
				The <b><a href="https://inspirobot.me/">InspiroBot</a> API</b>, an AI that generates
				seemingly inspirational quotes, but with a humorous twist. It parodies traditional
				motivational quotes from the point of view of an AI. Although we are not affiliated
				with InspiroBot, we've always found this service fun and thought it'd be nice to
				have it in Bonjourr. It is important to note that it's at least 10 years old and <u
					><b>has nothing to do with the recent generative AI trend</b></u
				>.
			</li>
			<li>
				The <b><a href="https://github.com/sin0light/api-kaamelott">Kaamelott API</a></b>,
				quotes from a french comedy TV show. Only available in French.
			</li>
			<li>
				<b>Stoic</b> quotes that reflect the <a
					href="https://en.wikipedia.org/wiki/Stoicism">Stoicism philosophy</a
				>.
			</li>
			<li><b>Hitokoto</b>, japanese inspirational quotes.</li>
			<li><b>Custom</b>, add your own quotes directly from Bonjourr's UI.</li>
			<li><b>URL</b>, add quotes from a distant CSV file.</li>
		</ul>

		<h3 id="import-quotes">Importing your own quotes</h3>

		<p>
			There are two ways you can import your own quotes: directly from Bonjourr, or from a
			distant URL. In both cases, here is the formatting your quotes need to adopt:
		</p>

		<Code lang="json" code={customQuotesExample} />

		<h4 id="import-quotes-custom">With the custom quotes option</h4>

		<p>
			Once the custom quotes option is selected, you can simply add quotes to it by respecting
			the formatting shown above.
		</p>

		<p>
			This option is limited to 8kB of text, which is about 50 regularly sized quotes. This is
			because Bonjourr uses <a
				href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/sync"
				>storage.sync</a
			> to store data, and each object is limited to 8kB. <b
				>If you need more quotes, we advise using the URL option instead.</b
			>
		</p>

		<h4 id="import-quotes-url">With the URL option (CSV file)</h4>

		<p>
			Select the URL option to link Bonjourr to the direct URL of a CSV file that contains all
			your quotes.
		</p>

		<p>
			The easiest way to do this is to use GitHub Gist, a service that allows you to very
			easily create and host a file:
		</p>

		<ol>
			<li>
				Create an account <a href="https://github.com">on GitHub</a> if you don't already have
				one, and log in.
			</li>
			<li>
				Head to the <a href="https://gist.github.com/">GitHub Gist page.</a>
			</li>
			<li>Give your file a description, like "My Bonjourr quotes".</li>
			<li>
				Give it a filename, like <code>bonjourr_quotes.csv</code>. It can be anything as
				long as it ends with <code>.csv</code>.
			</li>
			<li>
				Start typing your quotes with the formatting shown above (you'll be able to edit
				them later if you want).
			</li>
			<li>
				Once done, you can hit the <bjrbtn>Create secret gist</bjrbtn> button. It will save the
				file and show you what it looks like as a table.
			</li>
			<li>
				Click the <bjrbtn>Raw</bjrbtn> button, copy the URL of the page that opens and paste
				it in the URL input of Bonjourr. Voilà!
			</li>
		</ol>

		<video src="/documentation/overview/quotes-gist.mp4" controls></video>
	</section>

	<hr />

	<section id="fonts">
		<h2>📚 Fonts</h2>

		<p>
			Bonjourr gets its fonts from Fontsource. If you want to see previews of the fonts
			Bonjourr offers, please visit <a href="https://fontsource.org/">fontsource.org</a>.
		</p>
	</section>

	<hr />

	<section id="page-layouts">
		<h2>📄 Page layouts</h2>

		<p>
			There are 3 different page layouts to choose from: single, double and triple column.
			Each layout saves the position and alignment of your widgets independently.
		</p>

		<p>These options only affect the current layout:</p>

		<ul>
			<li>Widget toggle (enable switches)</li>
			<li>All options in grid toolbox</li>
			<li>Reset layout</li>
		</ul>

		<video src="/documentation/overview/move-elem.mp4" controls muted></video>
	</section>

	<hr />

	<section id="settings-management">
		<h2>💾 Settings management</h2>

		<p>
			Bonjourr allows you to export all your settings into a file. You can use this feature if
			you want to save them or share them to someone. You will in turn be able to import said
			settings into any instance of Bonjourr.
		</p>

		<p>
			To do so, simply go to the bottom of your settings pannel, then click the <bjrbtn
				>Export</bjrbtn
			> button in the settings management. Your file will be downloaded. On your other instance
			of Bonjourr, click the <bjrbtn>Import</bjrbtn> button and select your previously exported
			file. Bonjourr will reload and all your settings will be applied.
		</p>

		<h3 id="sync-types">Synchronization type</h3>

		<p>
			Bonjourr has multiple ways to share its settings between instances. In all cases, all
			settings will be synchronised except local backgrounds. For now, only the native browser
			syncing is automatic.
		</p>

		<h4 id="browser-syncing">Browser</h4>

		<p>
			Bonjourr is by default configured to use the automatic syncing features of both
			<a href="https://www.mozilla.org/fr/firefox/sync/">Firefox</a>
			and <a
				href="https://support.google.com/chrome/answer/185277?hl=fr&co=GENIE.Platform%3DDesktop"
				>Chrome</a
			>. If you log into your Mozilla/Google account on your browser and have syncing enabled
			in your browser, Bonjourr should get synchronised to other instances of the same browser
			on other devices.
		</p>

		<h4 id="github-gist-sync">Github Gist (cross browser)</h4>

		<p>
			Bonjourr also has a way to synchronise its data accross multiple browsers thanks to
			GitHub Gist (for example, if you use Chrome and Firefox at the same time).
		</p>

		<img
			src="/documentation/overview/github-sync.png"
			alt="A configured example of GitHub Gist synchronization"
			loading="lazy"
			style="max-width: 400px; margin-inline: auto; margin-block: 2em; display: block;"
		/>

		<p>Here's a step by step guide on how to configure it:</p>

		<ol>
			<li>Select "GitHub Gist" in <bjr>Synchronization type</bjr>.</li>
			<li>
				Log in to <a href="https://github.com/">GitHub</a> and create an authentification token
				by following <a
					href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-fine-grained-personal-access-token"
					>this guide on docs.github.com</a
				>, or by following the steps shown below:
				<video src="/documentation/overview/gist-sync.mp4" controls muted></video>
			</li>
			<li>
				Go back to Bonjourr and paste your token in the <bjr>Authentification token</bjr> input.
				Paste that token in as many Bonjourr instances as you need to synchronize.
			</li>
			<li>
				From there, you can either use the <bjrbtn>Get</bjrbtn> button to download your settings
				from the server, or the <bjrbtn>Send</bjrbtn> button to upload them. The <bjr
					>Server status</bjr
				> area helps you by showing when the last upload was made.
			</li>
		</ol>

		<p>
			Bonjourr is not affiliated with GitHub, and no connections to <code>api.github.com</code
			> are made until you select this option AND enter a valid token. More details on our <a
				href="/privacy">privacy page</a
			>.
		</p>

		<h4 id="distant-url-sync">Distant URL</h4>

		<p>
			This option is essentially the same as importing a settings file from your computer,
			except you will do it from a distant URL. As it removes the step of having to transfer
			the settings file to every single device, this could be handy for power users who might
			need to set up many instances of Bonjourr at once.
		</p>

		<p>
			Simply host your settings file somewhere (<a href="https://pastebin.com/"
				>pastebin.com</a
			> can be a good choice), enter its direct URL in Bonjourr and click the <bjrbtn
				>Get</bjrbtn
			> button.
		</p>
	</section>

	<hr />

	<section id="keybindings">
		<h2>⌨️ Keybindings</h2>

		<table>
			<thead>
				<th>Keys</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr>
					<td>Escape</td>
					<td>Opens / closes settings</td>
				</tr>
				<tr>
					<td>E (focused on link)</td>
					<td>Edits links</td>
				</tr>
			</tbody>
		</table>

		<h3>Notes</h3>

		<p>Refer to the <a href="#notes">notes section</a>.</p>
	</section>

	<hr />

	<section id="supporters-notification">
		<h2>❤️ Supporters notification</h2>

		<p>
			The supporters notification was introduced with Bonjourr 20.4 and is our way to thank
			people who support us <a href="https://ko-fi.com/bonjourr">on Ko-Fi</a>. It appears at
			the start of each month and reflects the donations of the previous month.
		</p>

		<img
			src="/documentation/overview/supporters.png"
			alt="The supporters notification"
			loading="lazy"
		/>

		<p>
			If you'd like your name to appear in the supporters notification, you can <a
				href="https://ko-fi.com/bonjourr">donate on Ko-Fi</a
			>. If you'd like to donate without having your name appear in it, be sure to send us a
			message when you donate.
		</p>

		<p>
			The supporters notification can be fully disabled in the settings panel, <bjr
				>Show all settings</bjr
			> first, then <bjr>Supporters notification</bjr> in the "Notifications" category.
		</p>
	</section>
</Docs>
