---
import OverviewFilter from "@components/Docs/OverviewFilter.astro"
import Docs from "@layouts/Docs.astro"
---

<Docs
	title="Features overview"
	lang="en"
	thumbnail="/documentation/backgrounds/saad-chaudhry-sAJlWye9at8.jpg"
>
	<OverviewFilter />

	<section id="interface">
		<h2>Main interface</h2>

		<p>
			When using the default backgrounds, hover your mouse on the background credits at the
			bottom left corner of Bonjourr to get the EXIF info of the photo (when available).
		</p>

		<img
			src="/documentation/overview/exif.png"
			alt="Bonjourr's bookmarks modal"
			style="max-width: 400px; margin-inline: auto; margin-block: 2em; display: block;"
			loading="lazy"
		/>

		<p>
			Clicking the <bjr>download</bjr> icon will download the photo to your computer at its highest
			possible resolution.
		</p>

		<p>
			Hitting the <code>Escape</code> key will open the settings panel.
		</p>
	</section>

	<hr />

	<section id="newtab-title">
		<h2>Tab appearance</h2>

		<p>
			You can customize the text and icon (called favicon) your browser uses for Bonjourr.
			Text is limited to 80 characters, and icons can only be emojis.
		</p>

		<img
			src="/documentation/overview/tab-appearance.png"
			alt="Bonjourr's bookmarks modal"
			style="max-width: 400px; margin-inline: auto; margin-block: 2em; display: block;"
			loading="lazy"
		/>

		<p>
			The emoji option might be limited by your browser:
			<ul>
				<li>
					Firefox has unperfect scaling/alignements (<a
						href="https://github.com/victrme/Bonjourr/issues/431">GitHub issue</a
					>)
				</li>
				<li>Microsoft Edge will only show the silouhette of the emoji</li>
				<li>Safari doesn't support it at all</li>
			</ul>
		</p>

		<p>
			<span>Here is how you can write emojis:</span>
			<ul>
				<li>Windows: <code>WIN + .</code> (windows key + dot)</li>
				<li>macOS: <code>CTRL + CMD + Space</code></li>
				<li>
					<span>You can also copy and paste them from the Internet: </span>
					<a href="https://unicode.org/emoji/charts/full-emoji-list.html"
						>unicode.org/emoji/charts/full-emoji-list</a
					>
				</li>
			</ul>
		</p>
	</section>

	<hr />

	<section id="hide-settings-icon">
		<h2>Hide settings icon</h2>

		<p>
			When selecting the <bjr>Hide settings icon</bjr>, the icon is still clickable at the
			same position as before.
		</p>

		<video src="/documentation/overview/hide-icon.mp4" controls muted></video>
	</section>

	<hr />

	<section id="backgrounds">
		<h2>Backgrounds</h2>

		<p>
			Bonjourr uses the <a href="https://unsplash.com/developers">Unsplash API</a> to fetch its
			backgrounds. We select them manually and store them in four different collections that change
			according to the time of the day:
		</p>

		<ul>
			<li>
				<a href="https://unsplash.com/collections/4933370/bonjourr-backgrounds-(day)"
					>During the day</a
				> or
				<a href="https://unsplash.com/collections/VI5sx2SDQUg/bonjourr-backgrounds-(night)"
					>at night</a
				>
			</li>
			<li>
				2 hours around <a
					href="https://unsplash.com/collections/yDjgRh1iqkQ/bonjourr-backgrounds-(noon)"
					>sunrise (Noon)</a
				> or
				<a
					href="https://unsplash.com/collections/2nVzlQADDIE/bonjourr-backgrounds-(evening)"
					>sunset (Evening)</a
				>
			</li>
		</ul>

		<h3 id="unsplash-collection">Custom Unsplash collection</h3>

		<p>
			You can make your own collection of images using <a href="https://unsplash.com/"
				>Unsplash</a
			>. To do so, you'll need to create an Unsplash account and add all your images to a new
			collection. Once you're pleased with your selection, you need the collection's ID
			present in its URL. You will spot it easily since it's the string of random letters and
			numbers. For example, if your collection's URL is <code
				>https://unsplash.com/collections/2170139/wolfdogs-of-unsplash</code
			>, the ID is <code>2170139</code>.
		</p>

		<p>
			Head back to Bonjourr and paste the ID in the <bjr>Unsplash collection</bjr> field. You can
			add multiple collections by separating them with a comma.
		</p>

		<h3 id="local-backgrounds">Local files</h3>

		<p>
			Switch your <bjr>Background type</bjr> from "Unsplash" to "Local file", and you'll be able
			to select your own images from your computer and set them in Bonjourr.
		</p>
	</section>

	<hr />

	<section id="clock">
		<h2>Time and date</h2>

		<p>
			The analog clcok feature has many options you can play around with and get to really
			cool styles.
		</p>

		<img
			src="/documentation/overview/clock-styles.png"
			alt="Bonjourr's bookmarks modal"
			loading="lazy"
		/>

		<p>
			Some things to know:
			<ul>
				<li>Clicking the 🌙/☀️ icons on the sliders will switch from black to white.</li>
				<li>The analog clock background is blurred when its opacity is above 0.</li>
			</ul>
		</p>

		<h3 id="world-clocks">World clocks</h3>

		<img
			src="/documentation/overview/world-clocks.png"
			alt="Bonjourr's bookmarks modal"
			loading="lazy"
		/>

		<p>
			<bjr>World clocks</bjr> allows you to add multiple clocks with different timezones. Removing
			the name of a world clock will remove the clock entirely.
		</p>
	</section>

	<hr />

	<section id="weather">
		<h2>Weather</h2>

		<p>
			Precise geolocation needs access to your device's GPS. Some browsers or systems might
			not allow access based on its privacy setting. macOS / Safari often causes problems.
		</p>

		<p>
			If there are multiple cities with the same name in your country, it might cause an
			issue. A good trick to fix the issue is to choose the name of the closest city with a
			unique name.
		</p>

		<p>
			Until we add a "refresh weather" option, you can refresh the weather by toggling the
			weather
			<bjr>Unit</bjr>. Celsius -> Farenheit -> Celsius.
		</p>

		<h3 id="detailed-weather">Detailed weather</h3>

		<p>
			<bjr>Detailed weather</bjr> allows you to easily go to a weather provider's website to get
			a detailed weather report. Click on the weather widget to go to your choice of provider.
		</p>

		<p>
			⚠️ We are in no way affiliated with MSN, Accuweather, Yahoo!, or Windy.com. These
			websites offers reports with different data provider, hence the choice.
		</p>
	</section>

	<hr />

	<section id="quick-links">
		<h2>Quick Links</h2>

		<p>Quick links are a way to easily manage the websites you visit regularly.</p>

		<h3 id="link-usage">Basic usage</h3>

		<p>
			You can add Quick Links by going to the settings of Bonjourr, in the Quick Links
			section. They are editable if you right click on them (or long press on mobile), which
			allows you to change their titles, URLs, icons and delete them.
		</p>

		<video autoplay loop muted playsinline>
			<source src="/documentation/overview/links-usage.mp4" type="video/mp4" />
			Your browser does not support the video tag.
		</video>

		<p>
			You can easily reorder your links by drag and dropping them, just like you would do on a
			phone. Additionally, dropping a link on another link will create a folder that contains
			them both. You can also edit that folder via right click.
		</p>

		<h3 id="link-import">Importing your links</h3>

		<p>
			Bonjourr integrates a way to import the existing links of your browser. To access it,
			click the <code>Import bookmarks</code> button. Depending on your browser, you will be shown
			multiple groups of links you will be able to import, such as your most visited websites and
			your bookmarks toolbars.
		</p>

		<img
			src="/documentation/overview/bookmarks-modal.png"
			alt="Bonjourr's bookmarks modal"
			loading="lazy"
		/>

		<p>
			If you use Chrome, Bonjourr will offer you to import Google Apps as a way to replicate
			Chrome's default startpage's behaviour.
		</p>

		<p>You can select one or multiple groups, and then import them.</p>

		<h3 id="link-groups">Link groups</h3>

		<p>
			You can organize your links with link groups, an optional feature you can enable in
			settings. To add a group, hover to the right of the group titles until you see the <code
				>+</code
			> icon. You can rename and delete groups by right clicking on them. Deleting a group will
			delete all the links it contains.
		</p>

		<p>
			Just like with folders, you can:
			<ul>
				<li>drag and drop links from group to group</li>
				<li>drag and drop groups to reorder them</li>
				<li>rename a group by right clicking it</li>
			</ul>
		</p>

		<p>
			You can pin groups by selecting <bjr>Pin this group</bjr> after opening the context menu
			from the group title. This will make it so the group is always visible.
		</p>

		<img
			style="max-width: 400px; margin-inline: auto; display: block"
			src="/documentation/overview/link-groups.gif"
			alt="Bonjourr's link groups"
			loading="lazy"
		/>

		<h3 id="link-icons">Icons</h3>

		<p>
			Link icons are retrieved by our homemade service <a
				href="https://github.com/victrme/favicon-fetcher">favicon-fetcher</a
			>. If you find that a website is missing its icon, you can create an issue <a
				href="https://github.com/victrme/Bonjourr/issues">on GitHub</a
			> or send us an email, and we will do our best to fix it.
		</p>

		<h4 id="link-icons-custom">Custom icons</h4>

		<p>
			The <code>Icon</code> input you see when editing a link allows you to set a distant URL to
			any image file you want on the Internet. This URL can be:

			<ul>
				<li>a distant URL: <code>https://en.wikipedia.org/favicon.ico</code></li>
				<li>a locally hosted URL: <code>http://127.0.0.1:4321/favicon.ico</code></li>
				<li>
					a dataURI smaller than 8kb: <code>data:image/gif;base64,R0lGOD...AA7</code>
				</li>
			</ul>

			But not a:

			<ul>
				<li>file path: <code>file:///Users/Me/Pictures/flowers.png</code></li>
			</ul>
		</p>

		<p>
			An easy way to add a custom icon to your Quick Link is to upload it on somewhere like
			Imgur, and use that link as an icon. You can also convert your icon to a Data URI (max
			8kB).
		</p>

		<h4 id="link-icons-cache">Cache policy</h4>

		<p>
			Icons from favicon-fetcher are stored in the browser cache for a year. As long as the
			browser cache is not cleared, icons are not fetched (or updated) by the page. However,
			if the browser cache is often cleared or storage space is limited on your device, icons
			will have to be fetched from our service again.
		</p>

		<p>
			Icons you add manually from a distant URL will have a different cache policy that we are
			not in control of, which might cause the icon to be fetched often or even every time.
		</p>

		<p>
			⚠️ <i>Notice</i>: as a security measure, local paths like <code>file://</code>, browser
			settings links like <code>about:config</code> or <code>chrome://extensions</code> can't be
			added. However,
			<code>localhost:</code> links will work just fine.
		</p>
	</section>

	<hr />

	<section id="searchbar">
		<h2>Search bar</h2>

		<p>
			When enabling the custom search engine option, the searchbar becomes compatible with all
			search engines, which includes things like YouTube:
			https://www.youtube.com/results?search_query=%s.
		</p>
	</section>

	<hr />

	<section id="notes">
		<h2>Notes</h2>

		<p>
			Notes uses Markdown to create titles, lists, and checkboxes. To transform a line, just
			add these characters at the start of a line:
		</p>

		<ul>
			<li><code>#</code> big heading</li>
			<li><code>##</code> medium heading</li>
			<li><code>###</code> small heading</li>

			<li><code>-</code> classic list</li>
			<li><code>[ ]</code> checkbox</li>
			<li><code>[x]</code> checkbox, checked</li>
		</ul>

		<p>Other Markdown features, like italics, are not available currently.</p>

		<h3>Keybindings</h3>

		<table>
			<thead>
				<th>Keys</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr>
					<td>Ctrl + Shift + 1</td>
					<td>To big heading</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 2</td>
					<td>To medium heading</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 3</td>
					<td>To small heading</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 4</td>
					<td>To bullet list</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 5</td>
					<td>To todo list</td>
				</tr>
			</tbody>
		</table>
	</section>

	<hr />

	<section id="fonts">
		<h2>Fonts</h2>

		<p>
			Bonjourr gets its fonts from Fontsource. If you want to see previews of the fonts
			Bonjourr offers, please visit <a href="https://fontsource.com/">fontsource.com</a>.
		</p>
	</section>

	<hr />

	<section id="page-layouts">
		<h2>Page layouts</h2>

		<p>
			There are 3 different page layouts to choose from: single, double and triple column.
			Each layout saves the position and alignment of your widgets independently.
		</p>

		<p>These options only affect the current layout:</p>

		<ul>
			<li>Widget toggle (Enable switches)</li>
			<li>All options in grid toolbox</li>
			<li>Reset layout</li>
		</ul>

		<video src="/documentation/overview/move-elem.mp4" controls muted></video>
	</section>

	<hr />

	<section id="sync">
		<h2>Github Gist</h2>

		<p>
			You can save your Bonjourr config in the cloud using <a href="https://gist.github.com/"
				>Github Gist</a
			> by selecting "Github Gist" in the <bjr>Synchronization type</bjr> option. Two more options
			appear:
		</p>

		<br />

		<table>
			<tr>
				<td><bjr>Authentification token</bjr></td>
				<td>
					Where you can add your Personal Access Token. It should look like this:
					<code>github_pat_oxoxo...</code>
				</td>
			</tr>
			<tr>
				<td>
					<bjr>Github Gist</bjr>
				</td>
				<td>
					To manually sync your config to your Gist account with <bjrbtn>Get</bjrbtn>
					and <bjrbtn>Send</bjrbtn>. These buttons only work after detecting a valid
					token.
				</td>
			</tr>
		</table>

		<br />

		<p>
			You can create a Personal Access Token by following <a
				href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-fine-grained-personal-access-token"
				>this guide on docs.github.com</a
			>, or following the steps shown below:
		</p>

		<br />

		<video src="/documentation/overview/gist-sync.mp4" controls muted></video>

		<br />

		<p>
			Bonjourr is not affiliated with Github, and no connections to <code>api.github.com</code
			> are made until you select this sync type AND add a valid token. More details on our <a
				href="/privacy">privacy page</a
			>.
		</p>
	</section>

	<hr />

	<section id="settings-management">
		<h2>Settings management</h2>

		<p>
			Bonjourr allows you to export all your settings into a file. You can use this feature if
			you want to save them or share them to someone. You will in turn be able to import said
			settings into any instance of Bonjourr.
		</p>

		<p>
			To do so, simply go to the bottom of your settings pannel, then click Export as file in
			the settings management. Your file will be downloaded. On your other instance of
			Bonjourr, you can then go to the Import tab of the settings management and drop your
			file. Bonjourr will reload and all your settings will be applied.
		</p>

		<h3 id="browser-syncing">Browser syncing</h3>

		<p>
			Bonjourr is compatible with the automatic syncing features of both
			<a href="https://www.mozilla.org/fr/firefox/sync/">Firefox</a>
			and <a
				href="https://support.google.com/chrome/answer/185277?hl=fr&co=GENIE.Platform%3DDesktop"
				>Chrome</a
			>. If you log into your Mozilla/Google account on your browser and have syncing enabled
			in your browser, Bonjourr should get synced to other instances of the same browser on
			other computers. This is true for all Bonjourr settings as well as Quick Links.
		</p>
	</section>

	<hr />

	<section id="keybindings">
		<h2 id="keybindings">Keybindings</h2>

		<table>
			<thead>
				<th>Keys</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr>
					<td>Escape</td>
					<td>Opens / closes settings</td>
				</tr>
				<tr>
					<td>E (focused on link)</td>
					<td>Edits links</td>
				</tr>
			</tbody>
		</table>

		<h3 id="notes">Notes</h3>

		<p>
			You can use these keyboard shortcuts while editing your Note. Replace `Ctrl` by `Cmd` on
			macOS.
		</p>

		<table>
			<thead>
				<th>Keys</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr>
					<td>Ctrl + Shift + 1</td>
					<td>To big heading</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 2</td>
					<td>To medium heading</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 3</td>
					<td>To small heading</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 4</td>
					<td>To bullet list</td>
				</tr>
				<tr>
					<td>Ctrl + Shift + 5</td>
					<td>To todo list</td>
				</tr>
			</tbody>
		</table>
	</section>

	<hr />

	<section id="supporters-notification">
		<h2>Supporters notification</h2>

		<p>
			The supporters notification was introduced with Bonjourr 20.4 and is our way to thank
			people who support us on Ko-Fi. It appears at the start of each month and reflects the
			donations of the previous month.
		</p>

		<img
			src="/documentation/overview/supporters.png"
			alt="The supporters notification"
			loading="lazy"
		/>

		<p>
			If you'd like your name to appear in the supporters notification, you can <a
				href="https://ko-fi.com/bonjourr">donate on Ko-Fi</a
			>. If you'd like to donate without having your name appear in it, be sure to send us a
			message when you donate.
		</p>

		<p>
			The supporters notification can be fully disabled in the settings panel, <bjr
				>Show all settings</bjr
			> first, then <bjr>Supporters notification</bjr> in the "Notifications" category.
		</p>
	</section>
</Docs>
