---
import Docs from '../../layouts/Docs.astro'
import Link from '../../components/Link.astro'
import { Code } from 'astro:components'
---

<Docs
	title="Style snippets"
	thumbnail="/documentation/backgrounds/braden-collum-CBcS51cGoSw-unsplash.jpg"
>
	<p>
		Bonjourr is customisable through its settings interface, but there are many more things you
		can do! Copy and paste those style snippets in their dedicated section of the settings to
		unlock some new possibilities.
	</p>

	<p>
		Want your own style snippet here ?
		<Link href="/contact">Contact us !</Link>
	</p>

	<h2 id="backgrounds">Backgrounds</h2>

	<h3 id="no-transition">I like my backgrounds fast.</h3>

	Faster background transition on startup.

	<Code
		lang="css"
		code={`#background_overlay {
	transition: transform 0.2s, opacity 0s;
}`}
	/>

	<h3 id="plain-background">Unicolor is the new meta</h3>

	Makes background a uniform color. Replace '#234' with your color of choice.

	<Code
		lang="css"
		code={`#background_overlay {
	background-color: #234;
}
#background, #background-bis {
	display: none;
}`}
	/>

	<h2 id="clock">Clock</h2>

	<h3 id="clock-width">I like my clocks thick</h3>

	Makes analog clock thicker.

	<Code
		lang="css"
		code={`#interface {
	--anlg-w: 6px; /* Change size here */
}
#analog #center {
	width: calc(var(--anlg-w) * 4);
	height: calc(var(--anlg-w) * 4);
}
#analog {
	border-width: calc(var(--anlg-w) * 2);
}
#analog span {
	width: calc(var(--anlg-w) * 2);
	margin-left: calc(var(--anlg-w) * -1);
}

#analog #analogSeconds {
	width: var(--anlg-w);
}`}
	/>

	<h3 id="rolex">Rolex 😎</h3>

	Makes analog clock look like a Rolex.

	<Code
		lang="css"
		code={`#analog-face,
#analog-face:hover {
	border-radius: 100%;
	border-width: 1px;
	background-size: cover;
	background-image: url('https://bonjourr.fr/misc/rolex.png') !important;
}`}
	/>

	<h2 id="greetings">Greetings</h2>

	<h3 id="custom-greetings">I want my own greeting</h3>

	Sets a custom greeting phrase instead of Good Morning, Good Afternoon, etc.

	<Code
		lang="css"
		code={`#greetings:before {
	content: 'Your custom greeting';
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: none;
}
#greetings { visibility: hidden;
	position: relative;
}`}
	/>

	<h2 id="links">Links</h2>

	<h3 id="transparent-links">I want transparent links!</h3>

	Some site icons come as PNGs with a transparent background. This snippet will remove Bonjourr's
	default white background for links and make these icons shine.

	<Code
		lang="css"
		code={`li.block div {
	border-color: transparent;
	background: transparent;
	box-shadow: unset;
}
li.block div:hover {
	box-shadow: unset;
}`}
	/>

	<h2 id="fonts">Fonts</h2>

	<h3 id="fonts-color">My fonts shall be black (or any other color 😯)</h3>

	<p>
		Changes font color to black. Can help if you mainly use bright backgrounds. Change "black"
		to a color Code if you'd like another specific color.
	</p>

	<Code
		lang="css"
		code={`#linkblocks span,
#interface,
#credit,
#credit a {
	color: black;
}`}
	/>

	<h3 id="clock-font-color">And my clock shall be black too</h3>

	<Code
		lang="css"
		code={`#analog {
	border-color: black;
}
#analog #center,
#analog span {
		background-color: black;
}`}
	/>

	<h2 id="other">Other</h2>

	<h3 id="no-credits">I don't care about artist exposure</h3>

	<p>Hides Unsplash photo author credits.</p>

	<Code
		lang="css"
		code={`#credit-container {
	display: none;
}`}
	/>

	<h3 id="temperature-unit">23 what, carrots?</h3>

	<p>Adds a C after the temperature.</p>

	<Code
		lang="css"
		code={`#current::after,
#tempContainer p::after {
	content: 'C';
}`}
	/>

	<h3 id="no-gpu-computer">No GPU, only CPU 😠</h3>

	<p>This disables graphics intensive `backdrop-filter` style property on some elements.</p>

	<Code
		lang="css"
		code={`#bookmarks_container,
#bookmarks,
#element-mover,
.move-overlay {
	backdrop-filter: none !important;
}

#editlink,
#bookmarks,
#element-mover {
	background-color: #f2f2f7;
}

body.dark #editlink,
body.dark #bookmarks,
body.dark #element-mover,
body.autodark #editlink,
body.autodark #bookmarks,
body.autodark #element-mover {
	background-color: #222;
}`}
	/>

	<h3 id="potato-computer">For laggy computers</h3>

	<p>
		Disables most settings transitions and animations. You can also add the styles above to
		improve performances.
	</p>

	<Code
		lang="css"
		code={`#settings .as,
#settings,
.move-overlay {
	transition: none;
	}
#interface {
	transform: translateX(0) !important;
	transition: none !important;
}`}
	/>
</Docs>
