# otherwise it messes up <Steps/>
src/content/docs/docs/index.mdx
src/content/docs/docs/settings-management/syncing.mdx
src/content/docs/fr/docs/index.mdx
src/content/docs/fr/docs/settings-management/syncing.mdx

