@font-face {
    font-family: 'sf_pro_displaylight';
    src: url('src/fonts/sf-pro-display-light-webfont.woff2') format('woff2'),
         url('src/fonts/sf-pro-display-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displaythin';
    src: url('src/fonts/sf-pro-display-thin-webfont.woff2') format('woff2'),
         url('src/fonts/sf-pro-display-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_monoregular';
    src: url('src/fonts/sfmono-regular-webfont.woff2') format('woff2'),
         url('src/fonts/sfmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
    background: #666;
    color: white;
    font-size: 16px;
    text-shadow: 0 1px 15px rgba(0,0,0,0.5);
	scroll-behavior: smooth;
	overflow-wrap: break-word;
}

body,
input,
textarea {
	font-family: sf_pro_displaylight, Helvetica Neue, Helvetica, Arial;
}

* {
	transition: all .1s
}


.background {
	z-index: -1;
	position: fixed;
}

.background img {
	width: 100%;
    min-height: 500px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

main {
	width: 80%;
	max-width: 1100px;
	margin: auto;
}

main > div {
	padding: 2em 0;
}

p, li {
	margin: 0;
	font-size: 1.3em;
	color: white;
}

main p {
	text-align: justify;
}



h2 {
	font-size: 3em;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

hr {
	color: white;
	border-bottom: 0;
	border-top: 1px solid white;
	margin: 2em 10%;
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*Nav*/

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1em auto;
}

nav a {
	padding: 1em;
	text-align: center;
	font-size: 1.5em;
	color: #fffb;
}

nav a:hover {color: #fff}

/*Nav underline animation*/
nav a:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: white;
  transition: 300ms;
}

nav a:hover:after { width: 100%; }


li {
	list-style: none;
	font-size: 1.3em;
	line-height: 1.5em;
	margin: 1.5em 0;
}

li a, li a:hover {
	text-decoration: underline;
}


/*Hero*/

.hero {
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.title {
	max-width: 400px;
	text-align: center;
}

.title p {
	font-size: 22px;
	text-align: center;
}

.title span {
	font-size: 4em;
	margin: 0;
}

.icon {
	position: relative;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

#mockupbox {
	position: relative;
	width: 100%;
}

.mockupbox_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 550px;
	margin: 2em 0;
}

/*Animated mockup*/

#mockup {
	width: 100%;
}

#videobox {
	z-index: 10;
	position: absolute;
	width: 76%;
	margin-top: 3.5%;
	top: 0;
	left: 12%;
}

#screen {
	z-index: 15;
	width: 100%;
	position: absolute;
}

#videobox img {
	z-index: 12;
	position: absolute;
	width: 100%;
}

/* DL and nav*/
.DLmenu {
	margin: auto;
	margin-top: 2em;
}

.browsers {
	display: flex;
	justify-content: space-around;
	text-align: center;
	max-width: 1100px;
	margin: auto;
}

.browsers > a  {
	max-width: 250px;
	padding: 1em;
    border-radius: 8px;
}

.browsers > a:hover {
	background-color: rgba(12, 12, 12, .4);
}
.browsers > a:active,
.browsers > a:focus {
	background-color: rgba(12, 12, 12, .6);
}

.browsers img {
	width: 128px;
	padding: 1em;
}





code {
	border-radius: 8px;
	background: rgba(255,255,255,.8);
	color: #222;
	font-size: .8em;
	font-family: sf_monoregular;
	padding: .1em .5em;
	text-shadow: none;
}


/* Contact form */



#contact .form_desc {
	display: flex;
	justify-content: space-between;
}

#contact input {
    width: calc(33.33% - 4em);
    padding: 1em;
    margin: 1em;
}

textarea {
	width: calc(100% - 4em);
	min-height: 8em;
	margin: 0 1em;
	padding: 1em;
}



#contact input, textarea {
	border: none;
	border-radius: 4px;
	background-color: #ffffffc2;
	font-size: 1.3em;
	color: #292b2c;
}

textarea:focus, #contact .form_desc input:focus {
	background-color: #fffd;
}

/* Send button */


#contact .envoyer {
	text-align: center;
}

#contact .envoyer input {
	cursor: pointer;
	display: inline;
	padding: 1em 3em;
	width: auto;
}

#contact .envoyer input:hover {
	background-color: #fff;
}

#contact .envoyer input:active {
	opacity: .4;
}


/*Donate section*/
.donate_button {
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	height: 3.45em;
	width: 15em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons {
	margin: 2em auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.buttons a {
	margin: 1em;
}

#paypal {
	background: #ffc439;
}

#paypal:hover, #crypto:hover {
	filter: brightness(0.85);
}
#paypal:focus, #crypto:focus,
#paypal:active, #crypto:active {
	filter: brightness(0.7);
}

#paypal img {
	height: 60%;
}

#crypto {
	background: linear-gradient(to bottom right, #126eb9, #147fd5);
}

.send_parent {
	text-align: center;
}

.grecaptcha-badge {
	visibility: hidden;
}



.signature {
	margin: 7em auto 2em auto;
	color: white;
	font-size: .7em;
}

.signature p {
	text-align: center;
}

.signature a {
	font-weight: bolder;
}



/*Responsive*/
@media screen and (min-width: 1800px) {

	.hero {
		max-width: 60%;
	}

	.mockupbox_wrapper {
		max-width: 700px;
	}

	.title span {
		font-size: 5em;
	}

	.title p {
    	font-size: 26px;
	}

	.DLmenu {
		width: 80%;
	}
}

@media screen and (max-height: 1024px) {
	.DLmenu {
		margin-top: 0!important;
	}

	.browsers img {
		width: 85px;
	}
}

@media screen and (max-width: 1188px) {
	.hero {
		width: auto;
	}
}

@media screen and (max-width: 769px) {

	main {
		width: auto;
		margin: 1em;
	}

	nav a {
		padding: .3em 1em;
	}

	.browsers a {
		width: 70%;
	}

	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	.browsers,
	#contact .form_desc {
		flex-wrap: wrap;
	}

	#contact .form_desc input,
	#contact textarea {
		margin: .5em;
	}

	#contact textarea {
		width: calc(100% - 3em);
	}

	#contact .form_desc input {
        width: 100%;
    }

	#contact .envoyer input {
		padding: 1em;
	}
}

@media screen and (max-width:480px) {
	.hero {
		width: 90%;
	}

	.title > img,
	.title > div {
		display: inline;
	}

	.icon {
		width: 3em;
		top: .3em;
	}

	h2 {
		margin-top: 0;
	}

	main > div {
		padding: .5em 0;
	}
}