---
import Docs from "@layouts/Docs.astro"
import Link from "@components/Link.astro"

const webstore =
	"https://chrome.google.com/webstore/detail/bonjourr-%C2%B7-minimalist-lig/dlnejlppicbjfcfcedcflplfjajinajd"
const edgeAddons =
	"https://microsoftedge.microsoft.com/addons/detail/bonjourr/dehmmlejmefjphdeoagelkpaoolicmid"
const firefoxAddons = "https://addons.mozilla.org/firefox/addon/bonjourr-startpage/"
const appleAppStore = "https://apps.apple.com/app/bonjourr-startpage/id1615431236"
---

<Docs
	title="Contribuer"
	thumbnail="/documentation/backgrounds/pascal-debrunner-LKOuYT5_dyw.jpg"
	lang="fr"
>
	<section style="margin-top: 4em" id="donate">
		<h2>Dons</h2>

		<p>
			Même quelques dons peuvent faire une grande différence pour un logiciel open source.
			Cela nous motive à consacrer plus de temps à Bonjourr, nous montre que notre travail
			compte pour vous, et peut ouvrir de nouvelles opportunités pour l’avenir. Vous pouvez
			faire un don en
			<a href="https://ko-fi.com/bonjourr">monnaie classique</a> ou en
			<a href="https://commerce.coinbase.com/checkout/095cc203-130d-4e56-9716-3aa10a202d9b"
				>crypto</a
			>.
		</p>
	</section>

	<hr />

	<section id="reviews">
		<h2>Avis</h2>

		<p>
			Le moyen le plus simple de nous aider est de laisser un avis sur les boutiques
			d’extensions, que ce soit sur
			<a href={firefoxAddons}>Firefox Add-ons</a>,
			<a href={webstore}>le Chrome Webstore</a>,
			<a href={appleAppStore}>l’App Store d’Apple</a>
			ou encore
			<a href={edgeAddons}>les extensions Edge</a>. Vous pouvez aussi parler de Bonjourr
			autour de vous — si vous l’aimez, il y a de grandes chances que vos proches aussi !
		</p>
	</section>

	<hr />

	<section id="translate">
		<h2>Traductions</h2>

		<p>
			Grâce à nos contributeurs, Bonjourr est actuellement disponible dans 21 langues ! Voici
			comment mettre à jour ou ajouter une langue :
		</p>

		<p>
			Les traductions se trouvent dans le dossier
			<a href="https://github.com/victrme/Bonjourr/tree/master/_locales">/_locales/</a>
			sur GitHub. Chaque dossier de langue contient les fichiers suivants :
		</p>

		<ul>
			<li>
				<code class="inline-code">translations.json</code> pour la traduction principale.
			</li>
			<li>
				<code class="inline-code">messages.json</code> pour le titre et le sous-titre de l’extension.
			</li>
			<li>
				<code class="inline-code">overview.md</code> pour la description complète sur les stores.
			</li>
		</ul>

		<p>
			Pour ajouter une nouvelle langue, copiez le dossier `en` et renommez-le avec le code de
			langue souhaité. Il faut également ajouter ce code ainsi que le nom de la langue dans la
			liste du fichier
			<a href="https://github.com/victrme/Bonjourr/blob/master/src/scripts/langs.ts"
				>/src/scripts/langs.ts</a
			>. Si vous êtes à l’aise avec GitHub, vous pouvez faire une pull request. Sinon, vous
			pouvez nous envoyer les fichiers modifiés
			<a href="mailto:bonjourr.app@protonmail.com">par email</a>
			ou sur
			<a href="https://t.me/BonjourrStartpage">notre groupe Telegram</a>.
		</p>

		<p>⚠️ N’oubliez pas d’indiquer votre nom et un lien pour que l’on puisse vous créditer !</p>

		<h3>Tester votre traduction</h3>

		<ul>
			<li>
				Allez sur <a href="https://online.bonjourr.fr">online.bonjourr.fr</a> et sélectionnez
				votre langue.
			</li>
			<li>Ouvrez la console développeur (F12, CTRL+Maj+J ou CTRL+Maj+I).</li>
			<li>
				Copiez ce code : <code>localStorage.translations = JSON.stringify()</code> en insérant
				le contenu de <code>translations.json</code> entre les parenthèses.
			</li>
			<li>Rechargez la page — et voilà !</li>
		</ul>
	</section>

	<hr />

	<section id="new-features">
		<h2>Nouvelles fonctionnalités</h2>

		<p>
			Vous avez quelques compétences en développement et une idée de fonctionnalité que vous
			pourriez ajouter à Bonjourr ? Consultez le
			<a href="https://github.com/victrme/Bonjourr/">dépôt GitHub</a>.
		</p>

		<p>
			Et si vous vous sentez créatif·ve, vous pouvez aussi suggérer ou créer
			<Link href="/docs/styles">des styles CSS</Link>
			et
			<Link href="/docs/profiles">des profils personnalisés</Link>.
		</p>
	</section>
</Docs>
