---
import OverviewFilter from "@components/Docs/OverviewFilter.astro"
import { Code } from "astro-expressive-code/components"
import Docs from "@layouts/Docs.astro"

const customQuotesExample = `Auteur, Votre citation.
Auteur, Votre deuxième citation.`
---

<Docs
	title="Liste des fonctionnalités"
	lang="fr"
	thumbnail="/documentation/backgrounds/saad-chaudhry-sAJlWye9at8.jpg"
>
	<OverviewFilter />

	<section id="section-interface">
		<h2 id="interface">🖥️ Astuces pour l'interface principale</h2>

		<p>
			Lorsque vous utilisez les arrière-plans par défaut, survolez les crédits de l'image en
			bas à gauche de Bonjourr avec votre souris pour afficher les informations EXIF de la
			photo (si disponibles).
		</p>

		<img
			src="/documentation/overview/exif.png"
			alt="Informations de Bonjourr sur la photo actuelle"
			style="max-width: 400px; margin-inline: auto; margin-block: 2em; display: block;"
			loading="lazy"
		/>

		<h4 id="interface-context-menu">Menu contextuel</h4>

		<p>
			Bonjourr intègre un menu contextuel personnalisé sur la plupart de son interface.
			Utilisez-le pour ajouter de nouveaux raccourcis, accéder facilement aux paramètres des
			widgets et contrôler l’arrière-plan. Notez que vous pouvez toujours accéder au menu
			contextuel par défaut en maintenant la touche <code>alt</code> enfoncée tout en faisant un
			clic droit.
		</p>

		<img
			src="/documentation/overview/context-menu.png"
			alt="Menu contextuel de Bonjourr"
			style="max-width: 400px; margin-inline: auto; margin-block: 2em; display: block;"
			loading="lazy"
		/>
	</section>

	<hr />

	<section id="section-general-settings">
		<h2 id="general-settings">⚙️ Astuces pour les paramètres</h2>

		<h3>Accéder au panneau des paramètres</h3>

		<p>Il existe deux façons d'accéder aux paramètres de Bonjourr :</p>

		<ul>
			<li>Cliquez sur l'icône ⚙️ en bas à droite.</li>
			<li>
				Appuyez sur la touche <code>esc</code> de votre clavier (tout en étant sur la page).
			</li>
			<li>Click droit pour accéder au menu contextuel</li>
		</ul>

		<h3>Afficher tous les réglages</h3>

		<p>
			Bonjourr propose de nombreux réglages. Pour faciliter l'expérience des nouveaux
			utilisateurs, la plupart des paramètres avancés sont masqués par défaut. Vous pouvez les
			activer en basculant l'option <bjr>Afficher tous les réglages</bjr> tout en haut du panneau
			des paramètres.
		</p>

		<h3>Masquer l'icône des paramètres</h3>

		<p>
			Lorsque vous activez l'option <bjr>Masquer l'icône des paramètres</bjr>, l'icône reste
			cliquable au même endroit qu'auparavant.
		</p>

		<video src="/documentation/overview/hide-icon.webm" controls muted></video>
	</section>

	<hr />

	<section id="section-newtab-title">
		<h2 id="newtab-title">📌 Apparence de l'onglet</h2>

		<p>
			Vous pouvez personnaliser le texte et l'icône (appelée favicon) que votre navigateur
			utilise pour Bonjourr. Le texte est limité à 80 caractères et les icônes peuvent
			uniquement être des émojis.
		</p>

		<img
			src="/documentation/overview/tab-appearance.png"
			alt="Onglet personnalisé de Bonjourr"
			style="max-width: 400px; margin-inline: auto; margin-block: 2em; display: block;"
			loading="lazy"
		/>

		<p>Il est possible que l'option émoji soit limitée par votre navigateur :</p>

		<ul>
			<li>
				Firefox a des problèmes d'échelle et d'alignement imparfaits (<a
					href="https://github.com/victrme/Bonjourr/issues/431">Issue sur GitHub</a
				>).
			</li>
			<li>Safari et Microsoft Edge ne prennent pas du tout en charge cette fonction.</li>
		</ul>

		<p>Voici comment vous pouvez écrire des émojis :</p>

		<ul>
			<li>Windows : <code>WIN + .</code> (touche Windows + point)</li>
			<li>macOS : <code>CTRL + CMD + Space</code></li>
			<li>
				<span>Vous pouvez également les copier et les coller depuis Internet : </span>
				<a href="https://unicode.org/emoji/charts/full-emoji-list.html"
					>unicode.org/emoji/charts/full-emoji-list</a
				>.
			</li>
		</ul>
	</section>

	<hr />

	<section id="section-backgrounds">
		<h2 id="backgrounds">🖼️ Arrière-plans</h2>

		<p>
			Bonjourr vous permet de personnaliser entièrement votre nouvel onglet avec de
			magnifiques arrière-plans dynamiques. Que vous préfériez des photos sélectionnées, des
			vidéos immersives ou vos propres fichiers locaux, il existe de nombreuses options pour
			rendre l’expérience personnelle.
		</p>

		<h3 id="images">Images</h3>

		<p>
			Bonjourr propose plusieurs façons de personnaliser votre arrière-plan avec de belles
			images. Voici comment cela fonctionne !
		</p>

		<h4 id="images-bonjourr-daylight">Bonjourr Daylight</h4>

		<p>
			Par défaut, Bonjourr utilise l’<a href="https://unsplash.com/developers">API Unsplash</a
			> pour récupérer ses arrière-plans via une fonctionnalité que nous appelons Bonjourr Daylight.
			Nous les sélectionnons manuellement et les répartissons dans quatre collections différentes,
			qui changent selon le moment de la journée :
		</p>

		<ul>
			<li>
				Une pour <a
					href="https://unsplash.com/collections/GD4aOSg4yQE/bonjourr-backgrounds-(noon)"
					>le matin</a
				> (2h autour du lever du soleil).
			</li>
			<li>
				Une pour <a
					href="https://unsplash.com/collections/o8uX55RbBPs/bonjourr-backgrounds-(day)"
					>la journée</a
				>.
			</li>
			<li>
				Une pour <a
					href="https://unsplash.com/collections/3M2rKTckZaQ/bonjourr-backgrounds-(evening)"
					>le soir</a
				> (2h autour du coucher du soleil).
			</li>
			<li>
				Et une pour <a
					href="https://unsplash.com/collections/bHDh4Ae7O8o/bonjourr-backgrounds-(night)"
					>la nuit</a
				>.
			</li>
		</ul>

		<h4 id="collection">Collections Unsplash</h4>

		<p>
			Vous pouvez utiliser n’importe quelle collection Unsplash comme source d'arrière-plans
			dans Bonjourr. Cela vous permet de sélectionner soigneusement vos propres images. Pour
			ce faire :
		</p>

		<ol>
			<li>
				Trouvez une collection sur <a href="https://unsplash.com">unsplash.com</a>,
				recherchez un sujet et allez dans l’onglet Collections.
			</li>
			<li>
				Une fois la collection choisie, regardez son URL. Ce qui vous intéresse est
				l’identifiant, une chaîne de lettres et chiffres. Par exemple, si l’URL est <code
					>https://unsplash.com/collections/2170139/wolfdogs-of-unsplash</code
				>, l’ID est <code>2170139</code>.
			</li>
			<li>
				Retournez dans Bonjourr et, après avoir coché <bjr>Afficher tous les paramètres</bjr
				> en haut du panneau, collez l’ID dans le champ <bjr>Collection Unsplash</bjr>. Vous
				pouvez ajouter plusieurs collections en les séparant par des virgules.
			</li>
		</ol>

		<video src="/documentation/overview/custom-unsplash-collection.webm" controls muted></video>

		<h4 id="unsplash-search">Recherche Unsplash</h4>

		<p>
			Si vous avez un thème en tête, vous pouvez utiliser la fonction de recherche Unsplash.
			Il suffit de taper un mot-clé et les arrière-plans correspondants seront récupérés
			automatiquement. Vous pouvez en indiquer plusieurs en les séparant par des virgules.
		</p>

		<h3 id="videos">Vidéos</h3>

		<p>
			Grâce à la bibliothèque gratuite de vidéos de <a href="https://pixabay.com/">Pixabay</a
			>, Bonjourr vous permet de définir des vidéos comme arrière-plans. C’est amusant,
			dynamique, et cela donne vie à votre page d’accueil.
		</p>

		<p>
			Cependant, les vidéos peuvent être plus exigeantes pour votre appareil. Elles demandent
			plus de puissance de traitement, ce qui peut ralentir l’interface et consommer davantage
			de batterie. De plus, comme les fichiers vidéos sont plus lourds que les images, une
			connexion internet rapide est recommandée.
		</p>

		<p>
			De plus, nous faisons de notre mieux pour ne jamais intégrer de contenu généré par IA
			dans nos collections d'arrière-plans. Si jamais un contenu généré par IA nous échappait,
			n'hésitez pas à nous le signaler <a href="mailto:bonjourr.app@protonmail.com"
				>par e-mail</a
			> et nous nous ferons un plaisir de le retirer.
		</p>

		<h4 id="videos-bonjourr-daylight">Bonjourr Daylight</h4>

		<p>
			Tout comme <a href="#images-bonjourr-daylight">avec les images</a>, Bonjourr propose
			aussi des vidéos sélectionnées qui changent selon le moment de la journée.
		</p>

		<h4 id="pixabay-search">Recherche Pixabay</h4>

		<p>
			Comme pour la <a href="#unsplash-search">recherche Unsplash</a>, vous pouvez entrer des
			mots-clés dans Bonjourr pour récupérer des vidéos liées à ces mots via la bibliothèque
			de Pixabay.
		</p>

		<h3 id="local-backgrounds">Fichiers locaux</h3>

		<p>
			L’option fichiers locaux vous permet d’utiliser facilement des images présentes sur
			votre appareil dans Bonjourr.
		</p>

		<p>
			Vous pouvez ajouter plusieurs fichiers en appuyant sur <bjrbtn>Ajouter</bjrbtn>.
			Plusieurs fichiers peuvent être ajoutés en une fois. Bonjourr gère automatiquement les
			doublons : vous pouvez sélectionner tout un dossier, seuls les nouveaux fichiers seront
			importés.
		</p>

		<img
			src="/documentation/overview/local-files.png"
			alt="Section des fichiers locaux de Bonjourr"
			loading="lazy"
			style="max-width: 400px; margin-inline: auto; margin-block: 2em; display: block;"
		/>

		<p>
			Un inconvénient des fichiers locaux est qu’ils ne peuvent pas être synchronisés entre
			vos appareils. C’est une limitation technique mise en place par les navigateurs liée à
			la sécurité des extensions.
		</p>

		<p>
			Les fonds locaux peuvent être déplacés verticalement, horizontalement ou zoomés. Activez
			l’option en appuyant sur <bjrbtn>Déplacer</bjrbtn> après avoir sélectionné une image.
		</p>

		<p>Réduire le zoom au minimum permet de définir la taille automatiquement.</p>

		<h3 id="solid-color">Couleur unie</h3>

		<p>
			L’option couleur unie vous permet de choisir une couleur spécifique comme arrière-plan,
			idéale si vous préférez une interface minimaliste.
		</p>

		<h3 id="backgrounds-texture">Superposition de texture</h3>

		<p>
			Les textures sont des effets superposés à n’importe quel fond. Il en existe de nombreux
			types à essayer, qui rendent particulièrement bien sur un fond flou ou une couleur unie.
		</p>

		<p>
			La plupart des textures peuvent être personnalisées via leur couleur, leur opacité et
			leur densité pour un rendu idéal.
		</p>

		<h3 id="backgrounds-fadein">Temps de fondu</h3>

		<p>
			Vous pouvez définir la vitesse à laquelle le arrière-plan apparaît lors de l’ouverture
			d’un nouvel onglet. Les fonds en couleur apparaissent toujours immédiatement (0 ms).
			Réduire ce délai à 0 pour une image peut entraîner un clignotement, le temps que l’image
			se charge.
		</p>
	</section>

	<hr />

	<section id="section-quick-links">
		<h2 id="quick-links">🔗 Liens favoris</h2>

		<p>
			Les liens favoris sont un moyen facile de gérer les sites web que vous visitez
			régulièrement.
		</p>

		<h3 id="link-usage">Utilisation de base</h3>

		<p>
			Pour ajouter des liens favoris, faites un clic droit sur la page ou ouvrez la section <em
				>Liens favoris</em
			> dans les paramètres. Ils sont modifiables en faisant un clic droit dessus (ou un appui
			long sur mobile), ce qui vous permet de changer leur titre, leur URL, leur icône ou de les
			supprimer.
		</p>

		<video autoplay loop muted playsinline>
			<source src="/documentation/overview/links-usage.webm" type="video/mp4" />
			Votre navigateur ne prend pas en charge la balise vidéo.
		</video>

		<p>
			Vous pouvez facilement réorganiser vos liens en les faisant glisser, tout comme vous le
			feriez sur un téléphone. De plus, en faisant glisser un lien sur un autre, vous créerez
			un dossier contenant les deux. Vous pouvez également modifier ce dossier via un clic
			droit.
		</p>

		<h3 id="link-import">Importer vos liens</h3>

		<p>
			Bonjourr propose un moyen d'importer les liens existants de votre navigateur. Pour y
			accéder, cliquez sur le bouton <code>Importer les favoris</code>. En fonction de votre
			navigateur, plusieurs groupes de liens seront affichés et vous pourrez les importer,
			tels que vos sites les plus visités et votre barre d'outils des favoris.
		</p>

		<img
			src="/documentation/overview/bookmarks-modal.png"
			alt="Fenêtre modale des favoris de Bonjourr"
			loading="lazy"
		/>

		<p>Vous pouvez sélectionner un ou plusieurs groupes, puis les importer.</p>

		<h4>Synchronisation</h4>

		<p>
			Certains groupes importables, comme les favoris, peuvent être synchronisés avec votre
			navigateur si vous cliquez sur <bjrbtn>Synchroniser avec le navigateur</bjrbtn> avant l'importation.
			Cela signifie qu'ils ne seront pas modifiables dans Bonjourr, mais Bonjourr mettra à jour
			ses liens à chaque fois que vous modifierez vos favoris directement dans le navigateur.
		</p>

		<p>
			Certains groupes (comme les "Sites les plus visités" sur Chrome) ne sont importables que
			lorsqu'ils sont synchronisés et seront mis à jour dans Bonjourr dès que votre navigateur
			le décidera.
		</p>

		<h4>Google Apps</h4>

		<p>
			Si vous utilisez Chrome, Bonjourr vous proposera d'importer les applications Google pour
			reproduire le comportement de la page de démarrage par défaut de Chrome.
		</p>

		<h3 id="link-groups">Groupes de liens</h3>

		<p>
			Vous pouvez organiser vos liens avec des groupes de liens, une fonctionnalité
			optionnelle que vous pouvez activer dans les paramètres. Pour ajouter un groupe,
			survolez la droite des titres de groupe jusqu'à ce que vous voyiez l'icône <code>+</code
			>. Vous pouvez renommer et supprimer des groupes en faisant un clic droit dessus.
			Supprimer un groupe supprimera tous les liens qu'il contient.
		</p>

		<p>Tout comme avec les dossiers, vous pouvez :</p>

		<ul>
			<li>Faire glisser les liens d'un groupe à un autre.</li>
			<li>Faire glisser les groupes pour les réorganiser.</li>
			<li>Renommer un groupe en cliquant avec le bouton droit dessus.</li>
		</ul>

		<p>
			Vous pouvez épingler des groupes en sélectionnant <bjr>Épingler le groupe</bjr> après avoir
			ouvert le menu contextuel du titre du groupe. Cela permettra au groupe d'être toujours visible.
		</p>

		<img
			style="max-width: 400px; margin-inline: auto; display: block"
			src="/documentation/overview/link-groups.gif"
			alt="Groupes de liens de Bonjourr"
			loading="lazy"
		/>

		<h3 id="link-icons">Icônes des liens</h3>

		<p>Vous pouvez configurer les icônes de vos liens selon trois modes différents.</p>

		<h4 id="link-icons-default">Favicon du site (par défaut)</h4>

		<p>
			En mode par défaut, les icônes sont automatiquement récupérées via notre service maison
			<a href="https://github.com/victrme/favicon-fetcher">favicon-fetcher</a>. Si vous
			constatez qu’un site n’a pas son icône, vous pouvez créer un ticket
			<a href="https://github.com/victrme/Bonjourr/issues">sur GitHub</a>
			ou nous envoyer un e-mail — nous ferons de notre mieux pour corriger cela.
		</p>

		<h4 id="link-icons-local">Fichiers locaux</h4>

		<p>
			Personnalisez facilement les icônes de vos liens en les important directement depuis
			votre ordinateur. La plupart des formats d’image sont acceptés, tels que JPG, PNG, WebP,
			GIF (non animé) et SVG.
		</p>

		<h4 id="link-icons-url">URL distante</h4>

		<p>
			Ce mode vous permet de définir une URL distante pointant vers n’importe quelle image
			disponible sur Internet. Cette URL peut être :
		</p>

		<ul>
			<li>Une URL distante : <code>https://en.wikipedia.org/favicon.ico</code>.</li>
			<li>Une URL hébergée en local : <code>http://127.0.0.1:4321/favicon.ico</code>.</li>
			<li>
				Une <a href="https://dopiaza.org/tools/datauri/index.php">Data URI</a> de moins de 8&nbsp;ko
				:
				<code>data:image/gif;base64,R0lGOD...AA7</code>.
			</li>
		</ul>

		<p>Mais pas&nbsp;:</p>

		<ul>
			<li>
				Un chemin de fichier local : <code>file:///Users/Me/Pictures/flowers.png</code>.
			</li>
		</ul>

		<h4 id="link-icons-cache">Politique de cache</h4>

		<p>
			Les icônes provenant de favicon-fetcher sont stockées dans le cache du navigateur
			pendant un an. Tant que le cache du navigateur n'est pas vidé, les icônes ne sont pas
			téléchargées à nouveau (ni mises à jour) par la page. Cependant, si le cache du
			navigateur est souvent vidé ou si l'espace de stockage est limité sur votre appareil,
			les icônes devront être téléchargées à nouveau depuis notre service.
		</p>

		<p>
			Les icônes que vous ajoutez manuellement depuis une URL distante auront une politique de
			cache différente sur laquelle nous n'avons aucun contrôle, ce qui peut entraîner une
			récupération fréquente de l'icône, voire à chaque fois.
		</p>

		<p>
			⚠️ <i>Notice</i> : pour des raisons de sécurité, les chemins locaux comme <code
				>file://</code
			>, les liens de paramètres du navigateur comme <code>about:config</code> ou <code
				>chrome://extensions</code
			> ne peuvent pas être ajoutés. Cependant, les liens <code>localhost:</code> fonctionneront
			parfaitement.
		</p>
	</section>

	<hr />

	<section id="section-clock">
		<h2 id="clock">🕰️ Date et heure</h2>

		<p>
			La fonctionnalité "horloge analogue" offre de nombreuses options que vous pouvez
			explorer pour obtenir des styles vraiment sympas.
		</p>

		<img
			src="/documentation/overview/clock-styles.png"
			alt="Styles de l'horloge de Bonjourr"
			loading="lazy"
		/>

		<p>Quelques points à savoir :</p>

		<ul>
			<li>Cliquez sur les icônes 🌙/☀️ sur les curseurs pour passer du noir au blanc.</li>
			<li>
				Le fond de l'horloge analogue est flouté lorsque son opacité est supérieure à 0.
			</li>
		</ul>

		<h3 id="world-clocks">Horloges mondailes</h3>

		<img
			src="/documentation/overview/world-clocks.png"
			alt="Fonction des horloges mondiales de Bonjourr"
			loading="lazy"
		/>

		<p>
			<bjr>Les horloges mondiales</bjr> vous permettent d'ajouter plusieurs horloges avec des fuseaux
			horaires différents. En supprimant le nom d'une horloge mondiales, vous supprimez complètement
			l'horloge.
		</p>
	</section>

	<hr />

	<section id="section-weather">
		<h2 id="weather">🌤️ Météo</h2>

		<p>
			La géolocalisation précise nécessite l'accès au GPS de votre appareil. Certains
			navigateurs ou systèmes peuvent ne pas autoriser cet accès en fonction de leurs
			paramètres de confidentialité. macOS / Safari pose souvent des problèmes.
		</p>

		<p>
			Si plusieurs villes portent le même nom dans votre pays, cela peut poser un problème.
			Une astuce pour résoudre cela est de choisir le nom de la ville la plus proche avec un
			nom unique.
		</p>

		<p>
			Bonjourr n'a pas encore d'option "Actualiser la météo", mais vous pouvez tout de même le
			faire en basculant manuellement entre les unités (Celsius → Fahrenheit → Celsius).
		</p>

		<h3 id="detailed-weather">Météo détaillée</h3>

		<p>
			<bjr>Météo détaillée</bjr> vous permet de vous rendre facilement sur le site web d'un fournisseur
			de météo pour obtenir un rapport météo détaillé. Cliquez sur le widget météo pour accéder
			au fournisseur de votre choix.
		</p>

		<video src="/documentation/overview/weather-report.webm" controls></video>

		<p>
			⚠️ Nous ne sommes en aucun cas affiliés à MSN, Accuweather, Yahoo! ou Windy.com. Ces
			sites web proposent des rapports provenant de différents fournisseurs de données, d'où
			ces choix.
		</p>
	</section>

	<hr />

	<section id="section-notes">
		<h2 id="notes">✍️ Notes</h2>

		<p>
			Les Notes utilisent <a href="https://www.markdownguide.org/cheat-sheet/">Markdown</a> pour
			créer des titres, des listes et des cases à cocher. Pour transformer une ligne, ajoutez simplement
			ces caractères au début d'une ligne :
		</p>

		<ul>
			<li><code>#</code> grand titre</li>
			<li><code>##</code> titre moyen</li>
			<li><code>###</code> petit titre</li>
			<li><code>-</code> liste classique</li>
			<li><code>[ ]</code> case à cocher (remarquez l'espace entre les crochets)</li>
			<li><code>[x]</code> case à cocher, cochée</li>
		</ul>

		<video src="/documentation/overview/notes.webm" controls></video>

		<p>
			Actuellement, les autres fonctionnalités de Markdown, comme l'italique, ne sont pas
			prises en charge.
		</p>

		<h3>Raccourcis clavier</h3>

		<p>
			Vous pouvez utiliser ces raccourcis clavier lors de l'édition de votre note. Remplacez
			`Ctrl` par `cmd` sur macOS.
		</p>

		<table>
			<thead>
				<th>Touches</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr>
					<td>Ctrl/cmd + Shift + 1</td>
					<td>Créer un grand titre</td>
				</tr>
				<tr>
					<td>Ctrl/cmd + Shift + 2</td>
					<td>Créer un titre moyen</td>
				</tr>
				<tr>
					<td>Ctrl/cmd + Shift + 3</td>
					<td>Créer un petit titre</td>
				</tr>
				<tr>
					<td>Ctrl/cmd + Shift + 4</td>
					<td>Créer une liste à puces</td>
				</tr>
				<tr>
					<td>Ctrl/cmd + Shift + 5</td>
					<td>Créer une liste de tâches</td>
				</tr>
			</tbody>
		</table>
	</section>

	<hr />

	<section id="section-searchbar">
		<h2 id="searchbar">🔎 Barre de recherche</h2>

		<h3>Suggestions</h3>

		<p>
			Les suggestions sont fournies par notre propre API. Vous pouvez tout apprendre à son
			sujet et son code source <a href="https://github.com/victrme/search-suggestions">ici</a
			>.
		</p>

		<h3>Moteur de recherche personnalisé</h3>

		<p>
			Il existe de nombreux moteurs de recherche disponibles par défaut dans Bonjourr, et vous
			pouvez même en ajouter d'autres si nécessaire. Pour ce faire, sélectionnez <bjr
				>Personnalisé</bjr
			> dans l'option Moteur de recherche de la barre de recherche. Quand le champs <bjr
				>URL de requête</bjr
			> apparaît, il vous suffit de coller l'URL du moteur de recherche et de remplacer le texte
			recherché par <code>%s</code>.

			<p>
				Par exemple, si vous recherchez "café" sur YouTube, vous verrez que l'URL sera <code
					>https://www.youtube.com/results?search_query=cafe</code
				>.
			</p>

			<p>
				Dans ce cas, il vous suffit de remplacer <code>cafe</code> par <code>%s</code>, ce
				qui vous donne ce résultat : <code
					>https://www.youtube.com/results?search_query=%s</code
				>.
			</p>

			<p>
				Collez-le dans le champs et vous pourrez maintenant utiliser le moteur de recherche
				correspondant de Bonjourr.
			</p>

			<video src="/documentation/overview/custom-search.webm" controls></video>

			<p>
				Cette méthode fonctionnera avec la grande majorité des moteurs de recherche, ce qui
				rend Bonjourr compatible avec presque tous.
			</p>
		</p>
	</section>

	<hr />

	<section id="section-quotes">
		<h2 id="quotes">🗣 Citations</h2>

		<p>Le widget de citations peut récupérer des citations de plusieurs sources :</p>

		<ul>
			<li>
				Par défaut, notre <b
					><a href="https://github.com/victrme/i18n-quotes"
						>API de citations open source</a
					></b
				> disponible en plusieurs langues. Ce sont des citations motivantes ou inspirantes généralistes
				que la communauté peut gérer par le biais de pull request.
			</li>
			<li>
				L'API <b><a href="https://inspirobot.me/">InspiroBot</a></b>, une IA qui génère des
				citations voulues inspirantes, mais avec une touche humoristique. Elle parodie les
				citations traditionnelles motivantes du point de vue d'une IA. Bien que nous ne
				soyons pas affiliés avec InspiroBot, nous avons toujours trouvé ce service amusant
				et avons pensé qu'il serait agréable de l'avoir dans Bonjourr. Il est important de
				noter que cela fait au moins 10 ans et <u
					><b>n'a rien à voir avec la tendance récente de l'IA générative</b></u
				>.
			</li>
			<li>
				L'API <b><a href="https://github.com/sin0light/api-kaamelott">Kaamelott</a></b>,
				citations d'une série télévisée comique française. Disponible uniquement en
				français.
			</li>
			<li>
				Citations <b>Stoïciennes</b> qui reflètent la <a
					href="https://en.wikipedia.org/wiki/Stoicism">philosophie Stoïcienne</a
				>.
			</li>
			<li><b>Hitokoto</b>, citations inspirantes japonaises.</li>
			<li>
				<b>Personnalisé</b>, ajoutez vos propres citations directement depuis l'interface de
				Bonjourr.
			</li>
			<li><b>URL</b>, ajoutez des citations depuis un fichier CSV distant.</li>
		</ul>

		<h3>Importer vos propres citations</h3>

		<p>
			Il y a deux façons d'importer vos propres citations : directement depuis Bonjourr, ou
			depuis une URL distante. Dans les deux cas, voici le format que vos citations doivent
			adopter :
		</p>

		<Code lang="json" code={customQuotesExample} />

		<h4>Avec l'option de citations personnalisées</h4>

		<p>
			Une fois que l'option de citations personnalisées est sélectionnée, vous pouvez
			simplement ajouter des citations en respectant le format montré ci-dessus.
		</p>

		<p>
			Cette option est limitée à 8 Ko de texte, ce qui correspond à environ 50 citations de
			taille normale. Cela est dû au fait que Bonjourr utilise <a
				href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/sync"
				>storage.sync</a
			> pour stocker les données, et chaque objet est limité à 8 Ko. <b
				>Si vous avez besoin de plus de citations, nous vous conseillons d'utiliser l'option
				URL à la place.</b
			>
		</p>

		<h4>Avec l'option URL (fichier CSV)</h4>

		<p>
			Sélectionnez l'option URL pour lier Bonjourr à l'URL directe d'un fichier CSV contenant
			toutes vos citations.
		</p>

		<p>
			Le moyen le plus simple de le faire est d'utiliser GitHub Gist, un service qui vous
			permet de créer et d'héberger facilement un fichier :
		</p>

		<ol>
			<li>
				Créez un compte <a href="https://github.com">sur GitHub</a> si vous n'en avez pas déjà
				un, et connectez-vous.
			</li>
			<li>
				Allez sur la <a href="https://gist.github.com/">page GitHub Gist.</a>
			</li>
			<li>Donnez une description à votre fichier, comme "Mes citations Bonjourr".</li>
			<li>
				Donnez-lui un nom de fichier, comme <code>bonjourr_citations.csv</code>. Il peut
				être n'importe quoi tant qu'il se termine par <code>.csv</code>.
			</li>
			<li>
				Commencez à taper vos citations avec le format montré ci-dessus (vous pourrez les
				modifier plus tard si vous le souhaitez).
			</li>
			<li>
				Une fois terminé, vous pouvez appuyer sur le bouton <bjr>Créer un Gist secret</bjr>.
				Cela enregistrera le fichier et vous montrera à quoi il ressemble sous forme de
				tableau.
			</li>
			<li>
				Cliquez sur le bouton <bjr>Raw</bjr>, copiez l'URL de la page qui s'ouvre et
				collez-la dans le champs URL de Bonjourr. Voilà !
			</li>
		</ol>

		<video src="/documentation/overview/quotes-gist.webm" controls></video>
	</section>

	<hr />

	<section id="section-pomodoro">
		<h2 id="quotes">⏱️ Minuteur Pomodoro</h2>

		<p>
			Le widget Pomodoro vous permet d’utiliser la <a
				href="https://fr.wikipedia.org/wiki/Technique_Pomodoro">méthode Pomodoro</a
			>, une technique de gestion du temps conçue pour vous aider à travailler plus
			efficacement.
		</p>

		<img src="/documentation/overview/pomodoro.png" alt="Le widget Pomodoro" loading="lazy" />

		<p>
			Le widget s’utilise selon la méthode originale :
			<ol>
				<li>Choisissez la tâche à effectuer.</li>
				<li>Réglez le minuteur Pomodoro (généralement sur 25 minutes).</li>
				<li>Travaillez sur la tâche.</li>
				<li>
					Arrêtez-vous lorsque le minuteur sonne et prenez une courte pause (en général 5
					à 10 minutes).
				</li>
				<li>Revenez à l’étape 2 et répétez jusqu’à avoir complété quatre pomodori.</li>
				<li>
					Après quatre pomodori, prenez une longue pause (en général 20 à 30 minutes) au
					lieu d’une courte pause. Une fois la longue pause terminée, retournez à l’étape
					2.
				</li>
			</ol>
		</p>

		<p>
			Le widget Pomodoro continue de suivre le temps même si vous fermez Bonjourr (il ne
			sonnera toutefois pas si aucun onglet Bonjourr n’est ouvert). Utilisez le <bjr
				>mode Focus</bjr
			> pour éviter d’être distrait par vos Liens rapides ou autres widgets. Vous pouvez modifier
			la durée de chaque mode dans les paramètres du widget, lorsque l’option <bjr
				>Afficher tous les paramètres</bjr
			> est activée.
		</p>
	</section>

	<hr />

	<section id="section-fonts">
		<h2 id="fonts">📚 Polices</h2>

		<p>
			Bonjourr utilise les polices de Fontsource. Si vous souhaitez voir des aperçus des
			polices que Bonjourr propose, vous pouvez visiter <a href="https://fontsource.org/"
				>fontsource.org</a
			>.
		</p>
	</section>

	<hr />

	<section id="section-page-layouts">
		<h2 id="page-layouts">📄 Outils de mise en page</h2>

		<p>
			Il existe 3 dispositions de page différentes parmi lesquelles choisir : colonne simple,
			double et triple. Chaque disposition enregistre la position et l'alignement de vos
			widgets de manière indépendante.
		</p>

		<p>Ces options n'affectent que la disposition actuelle :</p>

		<ul>
			<li>Basculer les widgets (activer les interrupteurs)</li>
			<li>Toutes les options dans la boîte à outils de la grille</li>
			<li>Réinitialiser la disposition</li>
		</ul>

		<video src="/documentation/overview/move-elem.webm" controls muted></video>
	</section>

	<hr />

	<section id="section-settings-management">
		<h2 id="settings-management">💾 Gestion des paramètres</h2>

		<p>
			Bonjourr vous permet d'exporter tous vos paramètres dans un fichier. Cette
			fonctionnalité est utile si vous souhaitez les sauvegarder ou les partager avec
			quelqu'un. Vous pourrez ensuite importer ces paramètres dans n'importe quelle instance
			de Bonjourr.
		</p>

		<p>
			Pour ce faire, rendez-vous en bas du panneau des paramètres, puis cliquez sur le bouton
			<bjrbtn>Exporter</bjrbtn> dans la section de gestion des paramètres. Votre fichier sera téléchargé.
			Sur une autre instance de Bonjourr, cliquez sur le bouton <bjrbtn>Importer</bjrbtn>
			et sélectionnez votre fichier exporté. Bonjourr se rechargera et appliquera tous vos paramètres.
		</p>

		<h3 id="sync-types">Types de synchronisation</h3>

		<p>
			Bonjourr propose plusieurs moyens de partager ses paramètres entre différentes
			instances. Dans tous les cas, tous les paramètres sont synchronisés sauf les
			arrière-plans locaux. Pour l’instant, seule la synchronisation native des navigateurs
			est automatique.
		</p>

		<h4 id="browser-syncing">Navigateur</h4>

		<p>
			Par défaut, Bonjourr utilise les fonctionnalités de synchronisation automatique de
			<a href="https://www.mozilla.org/fr/firefox/sync/">Firefox</a>
			et de <a
				href="https://support.google.com/chrome/answer/185277?hl=fr&co=GENIE.Platform%3DDesktop"
				>Chrome</a
			>. Si vous êtes connecté à votre compte Mozilla/Google et que la synchronisation est
			activée dans votre navigateur, Bonjourr sera automatiquement synchronisé sur les autres
			instances du même navigateur sur vos autres appareils.
		</p>

		<h4 id="github-gist-sync">GitHub Gist (multi-navigateurs)</h4>

		<p>
			Bonjourr permet également de synchroniser ses paramètres entre plusieurs navigateurs
			grâce à GitHub Gist (par exemple, si vous utilisez Chrome et Firefox en même temps).
		</p>

		<img
			src="/documentation/overview/github-sync.png"
			alt="Exemple de configuration de la synchronisation GitHub Gist"
			loading="lazy"
			style="max-width: 400px; margin-inline: auto; margin-block: 2em; display: block;"
		/>

		<p>Voici un guide étape par étape pour la configurer :</p>

		<ol>
			<li>Sélectionnez "GitHub Gist" dans <bjr>Type de synchronisation</bjr>.</li>
			<li>
				Connectez-vous à <a href="https://github.com/">GitHub</a> et créez un jeton d'authentification
				en suivant <a
					href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-fine-grained-personal-access-token"
					>ce guide sur docs.github.com</a
				>, ou suivez les étapes ci-dessous :
				<video src="/documentation/overview/gist-sync.webm" controls muted></video>
			</li>
			<li>
				Retournez sur Bonjourr et collez votre jeton dans le champ <bjr
					>Jeton d'authentification</bjr
				>. Copiez ce jeton sur toutes les instances de Bonjourr que vous souhaitez
				synchroniser.
			</li>
			<li>
				Vous pouvez ensuite utiliser le bouton <bjrbtn>Obtenir</bjrbtn> pour télécharger vos
				paramètres ou le bouton <bjrbtn>Envoyer</bjrbtn> pour les envoyer. La section <bjr
					>Statut du serveur</bjr
				> vous indique la dernière mise à jour effectuée.
			</li>
		</ol>

		<p>
			Bonjourr n'est pas affilié à GitHub, et aucune connexion à <code>api.github.com</code>
			n'est effectuée tant que vous n'avez pas sélectionné cette option ET entré un jeton valide.
			Plus de détails sur notre <a href="/privacy">page de confidentialité</a>.
		</p>

		<h4 id="distant-url-sync">URL distante</h4>

		<p>
			Cette option fonctionne comme l'importation d'un fichier de paramètres depuis votre
			ordinateur, sauf qu'elle se fait via une URL distante. Elle est particulièrement utile
			pour les utilisateurs avancés qui doivent configurer plusieurs instances de Bonjourr en
			même temps.
		</p>

		<p>
			Hébergez simplement votre fichier de paramètres quelque part (<a
				href="https://pastebin.com/">pastebin.com</a
			> peut être une bonne option), entrez son URL directe dans Bonjourr et cliquez sur le bouton
			<bjrbtn>Obtenir</bjrbtn>.
		</p>
	</section>

	<hr />

	<section id="section-keybindings">
		<h2 id="keybindings">⌨️ Raccourcis clavier</h2>

		<table>
			<thead>
				<th>Touches</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr>
					<td>Échap</td>
					<td>Ouvre / ferme les paramètres</td>
				</tr>
				<tr>
					<td>E (lien sélectionné)</td>
					<td>Édite les liens</td>
				</tr>
			</tbody>
		</table>

		<h3>Notes</h3>

		<p>Consultez la <a href="#notes">section des notes</a>.</p>
	</section>

	<hr />

	<section id="section-supporters-notification">
		<h2 id="supporters-notification">❤️ Notification des Donateurs</h2>

		<p>
			La notification des donateurs a été introduite avec Bonjourr 20.4 et est notre manière
			de remercier les personnes qui nous soutiennent financièrement <a
				href="https://ko-fi.com/bonjourr">sur Ko-Fi</a
			>. Elle apparaît au début de chaque mois et reflète les dons du mois précédent.
		</p>

		<img
			src="/documentation/overview/supporters.png"
			alt="La notification des donateurs"
			loading="lazy"
		/>

		<p>
			Si vous souhaitez que votre nom apparaisse dans la notification des donateurs, vous
			pouvez <a href="https://ko-fi.com/bonjourr">faire un don sur Ko-Fi</a>. Si vous préférez
			faire un don sans que votre nom n'apparaisse, assurez-vous de nous envoyer un message
			lors de votre don.
		</p>

		<p>
			La notification des donateurs peut être complètement désactivée dans le panneau des
			paramètres, <bjr>Afficher tous les réglages</bjr> en premier, puis <bjr>Donateurs</bjr> dans
			la catégorie "Notifications".
		</p>
	</section>
</Docs>
