---
import Docs from "@layouts/Docs.astro"
import Link from "@components/Link.astro"
import Profile from "@components/Docs/Profile.astro"

import notmomentum from "@assets/documentation/profiles/not-momentum.json?raw"
import cyberpunk from "@assets/documentation/profiles/cyberpunk.json?raw"
import floral from "@assets/documentation/profiles/floral.json?raw"
import space from "@assets/documentation/profiles/space.json?raw"
---

<Docs
	title="Profils"
	thumbnail="/documentation/backgrounds/michael-worden-7kvt0N3Pud0.jpg"
	lang="fr"
>
	<p>
		Voici quelques thèmes prêts à l’emploi que vous pouvez importer en bas des paramètres de
		Bonjourr. Vous voulez voir votre propre profil personnalisé ici ?
		<Link href="/#contact">Contactez-nous !</Link>
	</p>

	<section>
		<Profile
			id="cyberpunk"
			code={cyberpunk}
			image_src="/documentation/profiles/cyberpunk.webp"
			image_alt="Thème Bonjourr Cyberpunk 2077"
		>
			<span slot="title">Cyberpunk 2077</span>
			<span slot="code-label">Voir les paramètres bruts</span>
			<span slot="download-label">Télécharger le fichier d’import</span>
		</Profile>
	</section>

	<section>
		<Profile
			id="space"
			code={space}
			image_src="/documentation/profiles/space.webp"
			image_alt="Thème Bonjourr Espace"
		>
			<span slot="title">L’Explorateur de l’Espace</span>
			<span slot="code-label">Voir les paramètres bruts</span>
			<span slot="download-label">Télécharger le fichier d’import</span>
		</Profile>
	</section>

	<section>
		<Profile
			id="floral"
			code={floral}
			image_src="/documentation/profiles/floral.webp"
			image_alt="Thème Bonjourr Floral"
		>
			<span slot="title">Floral</span>
			<span slot="code-label">Voir les paramètres bruts</span>
			<span slot="download-label">Télécharger le fichier d’import</span>
		</Profile>
	</section>

	<section>
		<Profile
			id="not-momentum"
			code={notmomentum}
			image_src="/documentation/profiles/not-momentum.webp"
			image_alt="Thème Bonjourr Not Momentum"
		>
			<span slot="title">Not Momentum</span>
			<span slot="code-label">Voir les paramètres bruts</span>
			<span slot="download-label">Télécharger le fichier d’import</span>
		</Profile>
	</section>
</Docs>
