---
import Profile from "@components/Docs/Profile.astro"
import Docs from "@layouts/Docs.astro"
import Link from "@components/Link.astro"

import notmomentum from "@assets/documentation/profiles/not-momentum.json?raw"
import cyberpunk from "@assets/documentation/profiles/cyberpunk.json?raw"
import floral from "@assets/documentation/profiles/floral.json?raw"
import space from "@assets/documentation/profiles/space.json?raw"
---

<Docs title="Profiles" thumbnail="/documentation/backgrounds/michael-worden-7kvt0N3Pud0.jpg">
	<p>
		Voici quelques thèmes préétablis que vous pouvez importer en bas des paramètres de Bonjourr.
		Vous voulez votre propre profil personnalisé ici ?
		<Link href="/contact">Contactez nous!</Link>
	</p>

	<Profile
		id="cyberpunk"
		code={cyberpunk}
		image_src="/documentation/profiles/cyberpunk.webp"
		image_alt="Cyberpunk 2077 Bonjourr theme"
	>
		<span slot="title">Cyberpunk 2077</span>
		<span slot="code-label">Voir les paramètres</span>
		<span slot="download-label">Télécharger le fichier d'importation</span>
	</Profile>

	<Profile
		id="space"
		code={space}
		image_src="/documentation/profiles/space.webp"
		image_alt="Space Bonjourr theme"
	>
		<span slot="title">The Space Enthusiast</span>
		<span slot="code-label">Voir les paramètres</span>
		<span slot="download-label">Télécharger le fichier d'importation</span>
	</Profile>

	<Profile
		id="floral"
		code={floral}
		image_src="/documentation/profiles/floral.webp"
		image_alt="Floral Bonjourr theme"
	>
		<span slot="title">Floral</span>
		<span slot="code-label">Voir les paramètres</span>
		<span slot="download-label">Télécharger le fichier d'importation</span>
	</Profile>

	<Profile
		id="not-momentum"
		code={notmomentum}
		image_src="/documentation/profiles/not-momentum.webp"
		image_alt="Not Momentum Bonjourr theme"
	>
		<span slot="title">Not Momentum</span>
		<span slot="code-label">Voir les paramètres</span>
		<span slot="download-label">Télécharger le fichier d'importation</span>
	</Profile>
</Docs>
