---
import Trans from '../../components/Trans.astro'
import Background from '../Background.astro'
import useTranslation from '../../locales/useTranslation'
import BackgroundImage from '../../assets/fields.webp'
import AlertBanner from '../AlertBanner.astro'

const { isFrench } = useTranslation(Astro)
const locale = isFrench ? '/fr/' : '/'
---

<script>
	import { detect } from 'detect-browser'

	function addBrowserDataToForm() {
		const input = document.querySelector<HTMLInputElement>('#browser')
		const browser = detect()

		if (input && typeof browser === 'object') {
			input.value = `Uses ${browser?.name} ${browser?.version} on ${browser?.os}`
		}
	}

	function mockSubmitOnShortMessages(e: Event) {
		const messagebox = document.querySelector<HTMLTextAreaElement>('form #message')

		if ((messagebox?.value.length || 0) < 20) {
			e.preventDefault()
			document.querySelector<HTMLAnchorElement>('#mocksubmit')?.click()
		}
	}

	window.addEventListener('load', function () {
		addBrowserDataToForm()
		document.querySelector('form')?.addEventListener('submit', mockSubmitOnShortMessages)
	})
</script>

<Background src={BackgroundImage} blur='1' />
<section>
	<div id='form-container'>
		<AlertBanner />

		<h2>
			<Trans>Thank you for using Bonjourr.</Trans>
		</h2>
		<p>
			<Trans>We're sorry to see you go. If you have time, tell us what would make Bonjourr better, thanks!</Trans>
			<span role='img' aria-label='happy-emoji'> 😊</span>
		</p>

		<a id='mocksubmit' href={locale + 'submit'}></a>

		<form
			id='form'
			action={locale + 'submit'}
			name='contact'
			method='post'
			data-netlify='true'
			data-netlify-honeypot='bot-field'
		>
			<input type='hidden' name='form-name' value='contact' />
			<input type='hidden' name='browser' id='browser' />

			<label>
				<Trans>Email (optional)</Trans>
			</label>
			<input id='email' type='email' name='email' />

			<label>
				<Trans>Your message</Trans>
			</label>
			<textarea id='message' name='message' required></textarea>

			<button type='submit'>
				<Trans>Send</Trans>
			</button>
		</form>
	</div>
</section>

<style>
	section {
		padding: 6em 2em 10em 2em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#mocksubmit {
		opacity: 0;
		user-select: none;
		pointer-events: none;
	}

	#form-container {
		margin-top: 5vh;
		max-width: 700px;
	}

	h2 {
		font-size: 2em;
		text-align: left;
		margin-bottom: 0.5em;
	}

	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	form > * {
		width: 100%;
	}

	label {
		font-weight: bolder;
		margin: 1em 0 0 0;
	}

	input,
	textarea,
	button {
		margin: 0.5em 0;
		padding: 1em;
		border: 1px solid #fff2;
		border-radius: 10px;
		font-family: inherit;
		font-size: 1em;
		font-weight: 300;
		color: #fff;

		background-color: #fff2;
		backdrop-filter: blur(15px);
		transition: background-color 0.1s;
	}

	input:focus,
	textarea:focus,
	button:focus {
		background-color: #fff3;
		outline: 3px solid #0072eecc;
	}

	textarea {
		resize: vertical;
		min-height: 70px;
		padding: 1em;
	}

	button {
		max-width: 300px;
		margin-top: 2em;
		color: white;
		font-weight: bolder;
		cursor: pointer;
	}

	@media only screen and (max-width: 500px) {
		section {
			padding-top: 8em;
		}

		h2 {
			font-size: 2em;
		}
	}
</style>
