---
import Layout from "@layouts/Layout.astro"
import DocsTitle from "@components/Docs/DocsTitle.astro"
import BlogGrid from "@components/BlogGrid.astro"
const pageUrl = "https://bonjourr.fr/blog"
---

<Layout
	lang="en"
	id="blog"
	title="Bonjourr Blog · Updates and news"
	ogtitle="Bonjourr Blog · Updates and news"
	desc="Read the latest Bonjourr updates, release notes, and development news."
	canonical={pageUrl}
	ogImage="https://bonjourr.fr/twitter.jpg"
>
	<main>
		<DocsTitle
			title="Blog"
			thumbnail="/documentation/backgrounds/anna-scarfiello-5mH72l9_Xdg-unsplash.jpg"
		/>

		<section class="page-section">
			<div class="section-wrapper">
				<p>
					Read the latest Bonjourr news, development updates, and release announcements.
				</p>
				<BlogGrid slot="BlogGrid" postsIndex="33" />
			</div>
		</section>
	</main>

	<style>
		.section-wrapper {
			margin: auto;
			padding: 3em 2em;
			max-width: 1200px;
			z-index: 1;
		}

		p {
			margin-bottom: 3em;
		}
	</style>
</Layout>
