---
import Background from '../Background.astro'

const { src, title } = Astro.props
---

<div id='hero'>
	<Background width='800' src={src} blur='.5' brightness='.9' />
	<h1>{title}</h1>
</div>

<style>
	#hero {
		position: relative;
		height: 330px;
		padding-top: 2em;
		color: white;
		display: flex;
		align-items: center;
		background-size: cover;
		background-position: center;
	}

	h1 {
		font-weight: 500;
		font-size: 3em;
		width: 60%;
		margin: auto;
		padding: 0 1em;
		max-width: 1200px;
	}

	@media only screen and (max-width: 500px) {
		h1 {
			font-size: 2.5em;
			width: 80%;
		}
	}
</style>
