---
import DocsHero from './DocsHero.astro'
import Link from '../Link.astro'
import Trans from '../Trans.astro'
import HeroImage from '../../assets/greens.webp'
import useTranslation from '../../locales/useTranslation'

const { isFrench, t } = useTranslation(Astro)

//
// Get title translation from markdowns just to be sure

const postsEN = await Astro.glob('../../pages/docs/*.md')
const postsFR = await Astro.glob('../../pages/fr/docs/*.md')

let titles: { [key: string]: string } = {}

;(isFrench ? postsFR : postsEN).forEach((post) => {
	if (post.frontmatter) {
		titles[post.frontmatter.slug] = post.frontmatter.title
	}
})
---

<DocsHero title={t(`Bonjourr's documentation`)} src={HeroImage} />

<main>
	<ul>
		<li>
			<Link href='/docs/platforms'>
				<h2>🖥️ {titles['platforms']}</h2>
				<p><Trans>Access all platforms and browsers</Trans></p>
			</Link>
		</li>
		<li>
			<Link href='/docs/overview'>
				<h2>📃 {titles['overview']}</h2>
				<p><Trans>Read on what is possible with Bonjourr</Trans></p>
			</Link>
		</li>
		<li>
			<Link href='/docs/styles'>
				<h2>🎨 {titles['css']}</h2>
				<p><Trans>Add some more flavor to your page with bits of code</Trans></p>
			</Link>
		</li>
		<li>
			<Link href='/docs/profiles'>
				<h2>🖼️ {titles['profiles']}</h2>
				<p><Trans>Import fully customized pages made by us</Trans></p>
			</Link>
		</li>
		<li>
			<Link href='/docs/help'>
				<h2>🫶 {titles['help']}</h2>
				<p><Trans>If you want to be more involved with Bonjourr</Trans></p>
			</Link>
		</li>
	</ul>
</main>

<style>
	main {
		background-color: #2a2a2a;
		min-height: calc(70vh - 20em);
		padding: 6em 2em 12em 2em;
	}

	ul {
		display: grid;
		grid-auto-flow: dense;
		padding: 0;
		margin: 0 auto;
		max-width: 1200px;
		justify-content: center;
		grid-template-columns: repeat(auto-fill, 360px);
		list-style: none;
		gap: 2em;
	}

	h2 {
		margin-bottom: 0;
	}

	li {
		border-radius: 8px;
		border: 1px solid #fff2;
		background-color: #fff1;
		transition: background-color 0.2s;
	}

	li a {
		display: block;
		padding: 1em 2em;
	}

	li:nth-child(1):hover {
		background-color: #5870a8;
	}

	li:nth-child(2):hover {
		background-color: #a87658;
	}

	li:nth-child(3):hover {
		background-color: #a89858;
	}

	li:nth-child(4):hover {
		background-color: #7f9297;
	}

	li:nth-child(5):hover {
		background-color: #8458a8;
	}

	@media only screen and (max-width: 900px) {
		main {
			padding-bottom: 16em;
		}
	}

	@media only screen and (max-width: 500px) {
		main {
			padding-bottom: 6em;
		}

		ul {
			grid-template-columns: repeat(auto-fill, 320px);
		}
	}
</style>
