---
import Docs from "@layouts/Docs.astro"
const props = Astro.props
const locale = props.lang === "fr" ? "/fr" : ""
---

<Docs
	lang={props.lang}
	title="Documentation"
	thumbnail="/documentation/backgrounds/martin-marek-1hRH-z4nvxE.jpg"
>
	<section class="docs-summary">
		<a href={locale + "/docs/overview"}>
			<span>💻</span>

			<div>
				<div>
					<slot name="overview-title" />
				</div>
				<slot name="overview-desc" />
			</div>
		</a>

		<a href={locale + "/docs/reference"}>
			<span>🗂️</span>

			<div>
				<div>
					<slot name="reference-title" />
				</div>
				<slot name="reference-desc" />
			</div>
		</a>

		<a href={locale + "/docs/contribute"}>
			<span>🤝</span>

			<div>
				<div>
					<slot name="contribute-title" />
				</div>
				<slot name="contribute-desc" />
			</div>
		</a>

		<a href={locale + "/docs/profiles"}>
			<span>⚙️</span>

			<div>
				<div>
					<slot name="profiles-title" />
				</div>
				<slot name="profiles-desc" />
			</div>
		</a>

		<a href={locale + "/docs/styles"}>
			<span>✨</span>

			<div>
				<div>
					<slot name="styles-title" />
				</div>
				<slot name="styles-desc" />
			</div>
		</a>

		<a href={locale + "/docs/faq"}>
			<span>🧐</span>

			<div>
				<div>
					<slot name="faq-title" />
				</div>
				<slot name="faq-desc" />
			</div>
		</a>
	</section>

	<slot name="docs" />
</Docs>

<style is:global>
	.content {
		max-width: 1200px !important;
	}

	section {
		max-width: 760px;
		margin: auto;
	}
</style>

<style>
	.docs-summary {
		display: grid;
		max-width: 100%;
		margin: 5em 0 2em;
		grid-gap: 1.5em;
		grid-template-columns: repeat(3, 1fr);

		@media only screen and (max-width: 1000px) {
			grid-template-columns: 1fr 1fr;
		}

		@media only screen and (max-width: 700px) {
			grid-template-columns: 1fr;
		}
	}

	.docs-summary a {
		display: flex;
		align-items: center;
		gap: 1.5em;
		padding: 1.5em;
		color: unset;
		text-decoration: none;

		cursor: pointer;
		border-radius: 28px;

		transition:
			transform 0.18s ease,
			border-color 0.18s ease,
			background 0.18s ease;

		background: black;
		border: 1px solid rgba(255, 255, 255, 0.22);

		@media (prefers-color-scheme: light) {
			background: white;
			border: 1px solid rgb(222, 222, 222);
		}
	}

	.docs-summary a:hover {
		background: #151515;
		border: 1px solid rgba(255, 255, 255, 0.32);
		transform: translateY(-4px);
		opacity: 1;

		@media (prefers-color-scheme: light) {
			background: #f8f8f8;
			border: 1px solid rgb(214, 214, 214);
		}
	}

	.docs-summary a span {
		font-size: 2.5em;
	}

	.docs-summary a span {
		font-size: 2.5em;
	}

	.docs-summary a div div {
		font-size: 1.6em;
		font-weight: 500;
		margin-bottom: 0.3em;
	}

	.docs-summary h3,
	.docs-summary img {
		padding: 0;
		margin: 0;
	}

	.docs-summary p {
		margin-top: 8px;
		margin-bottom: 0;
		font-size: 0.9em;
		opacity: 0.9;
	}
</style>
