---
import Docs from "@layouts/Docs.astro"
const props = Astro.props
const locale = props.lang === "fr" ? "/fr" : ""
---

<Docs
	lang={props.lang}
	title="Documentation"
	thumbnail="/documentation/backgrounds/martin-marek-1hRH-z4nvxE.jpg"
>
	<section id="summary">
		<a href={locale + "/docs/overview"}>
			<span>💻</span>

			<div>
				<h3><slot name="overview-title" /></h3>
				<p><slot name="overview-desc" /></p>
			</div>
		</a>

		<a href={locale + "/docs/reference"}>
			<span>🗂️</span>

			<div>
				<h3><slot name="reference-title" /></h3>
				<p><slot name="reference-desc" /></p>
			</div>
		</a>

		<a href={locale + "/docs/contribute"}>
			<span>🤝</span>

			<div>
				<h3><slot name="contribute-title" /></h3>
				<p><slot name="contribute-desc" /></p>
			</div>
		</a>

		<a href={locale + "/docs/profiles"}>
			<span>⚙️</span>

			<div>
				<h3><slot name="profiles-title" /></h3>
				<p><slot name="profiles-desc" /></p>
			</div>
		</a>

		<a href={locale + "/docs/styles"}>
			<span>✨</span>

			<div>
				<h3><slot name="styles-title" /></h3>
				<p><slot name="styles-desc" /></p>
			</div>
		</a>
	</section>

	<slot name="docs" />
</Docs>

<style is:global>
	.content {
		max-width: 1200px !important;
	}

	section {
		max-width: 760px;
		margin: auto;
	}
</style>

<style>
	#summary {
		margin: 5em 0 2em;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1em;
		max-width: 100%;
	}

	#summary a {
		display: flex;
		align-items: center;
		gap: 1.5em;
		padding: 1em;
		color: unset;
		cursor: pointer;
		border-radius: 15px;
		border: 1px solid transparent;
	}

	#summary a:hover {
		text-decoration: none;
	}

	#summary a:hover {
		background: #252525;
		border: 1px solid #fff1;
	}

	@media (prefers-color-scheme: light) {
		#summary a:hover {
			background: #e9e9e9;
		}
	}

	#summary a span {
		font-size: 2.5em;
	}

	#summary h3,
	#summary img {
		padding: 0;
		margin: 0;
	}

	#summary p {
		margin-top: 8px;
		margin-bottom: 0;
		font-size: 0.9em;
		opacity: 0.9;
	}

	@media only screen and (max-width: 1000px) {
		#summary {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media only screen and (max-width: 700px) {
		#summary {
			grid-template-columns: 1fr;
		}
	}
</style>
