@import url('https://fonts.googleapis.com/css2?family=Inter:wght@350&display=swap');

$mainFont: Inter, Helvetica, sans-serif;
$transitionTime: .2s;
$blackish: #4E4E4E;
$whitish: #F3F3F3;


html, body, .layout {
    height: 100%;
    margin: unset;
    color: $blackish;
    position: relative;

    p, h1, h2, h3, h4, h5, h6 { margin: unset; }

    p {
        font-size: 1.3em;
        text-align: justify;
    }
}

* {
    text-decoration: none;
    font-family: $mainFont;
    font-weight: 350;
}

a {
    color: $blackish;
}

@mixin textShadow {
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}


// mixins pour responsive 
    // Small devices
    @mixin sm {
        @media (max-width: 576px) {
            @content;
        }
    }
    
    // Medium devices
    @mixin md {
        @media (max-width: 768px) {
            @content;
        }
    }
    
    // Large devices
    @mixin lg {
        @media (max-width: 1200px) {
            @content;
        }
    }
    
    // Extra large devices
    @mixin xl {
        @media (min-width: 1200px) {
            @content;
        }
    }





@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerColumns() {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

@mixin sidePadding() {

    @include xl {
        padding-right: 4em; padding-left: 4em;
    }

    @include lg {
        padding-right: 2em; padding-left: 2em;
    }

    @include md {
        padding-right: 1em; padding-left: 1em;
    }

    @include sm {
        padding-right: .5em; padding-left: .5em;
    }
    
}

@mixin marginAuto() {
    margin-right: auto; margin-left: auto;
}

a.button {
    width: 100%;
    height: 2.5em;
    border-radius: 12px;
    border: 0px;
    background: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(7px);
    color: white;
    margin-bottom: 12px;
    padding: .3em;
    transition: background $transitionTime ease-in;
    box-sizing: border-box;
    height: 55px;
    @include center;
    max-width: 300px;
        @include marginAuto();


    &:hover {
        background: rgba(30, 30, 30, 0.8);
    }

    .icon {
        margin-right: 5px;
        width: 30px;
        font-size: 1.5em;

        img { width: 100%; }
        @include center();
    }
}




hr {
    display: block;
    border: unset;
    border-bottom: 2px solid white;
    width: 80px;
    margin: 1.5em 0;
}