@import 'global';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('/node_modules/highlight.js/scss/atom-one-dark.scss');

// Styles for documentation

.hero,
article {
    @include sidePadding;
}

.hero {
    height: 33vh;
    min-height: 250px;
    color: white;
    display: flex;

    .container {
        display: flex;
        width: 100%;

        .empty {
            flex: 1;

            @include md {
                display: none;
            }
        }

        .theContent {
            flex: 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include textShadow;

            @include md {
                width: 100% !important;
            }

            @include sm {
                margin-top: 50px;
            }
        }
    }

    h1 {
        font-weight: bold;
        margin-bottom: 0.7em;
        padding-top: 40px;

        @include sm {
            padding-top: 10px;
            margin-bottom: 0.4em;
            font-size: 1.5em;
        }
    }

    h2 {
        font-size: 1.4em;

        @include sm {
            font-size: 1.1em;
        }
    }
}

article {
    display: flex;
    margin: 60px 0 120px 0;

    code,
    .hljs {
        font-family: 'Roboto Mono', monospace;
        background-color: #f5f7f9;
        border-radius: 6px;
        padding: 2px 10px;
        font-size: 14px;
        box-sizing: border-box;
        overflow-wrap: break-word;

        &.language-json {
            word-break: break-all;
        }
    }

    @include md {
        flex-direction: column;
    }

    .docNav {
        line-height: 1.7em;
        box-sizing: border-box;
        flex: 1;
        flex-shrink: 0;
        min-width: 150px;

        @include md {
            margin-bottom: 1em;
        }

        ul {
            position: sticky;
            top: 2em;
            margin: unset;
            padding-right: 0.5em;
        }

        a {
            &:before {
                content: '| ';
                visibility: hidden;
            }

            &.active {
                font-weight: bold;

                &:before {
                    visibility: visible;
                }
            }
        }
    }

    .content {
        flex: 4;
        *:first-child {
            margin-top: unset;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 40px 0 20px 0;
        }

        ul {
            list-style: inside;
            padding: initial;
        }

        p,
        ul {
            margin-bottom: 1em;
            line-height: 1.5em;
        }

        strong {
            font-weight: bold;
        }

        pre {
            margin-bottom: 2.5em;
        }

        a {
            opacity: 0.7;
            color: #0766d9;

            &:hover {
                text-decoration: underline;
            }

            @media (prefers-color-scheme: dark) {
                opacity: 1;
                color: #318cfc;
            }

            &.gatsby-resp-image-link {
                opacity: 1;
            }
        }
    }
}

body {
    @media (prefers-color-scheme: dark) {
        background: rgb(39, 39, 39);
        article,
        .docNav a {
            color: rgb(240, 240, 240);
        }

        code,
        .hljs {
            background-color: rgb(68, 68, 68);
        }
    }
}
