@import 'global';

nav {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    @include sidePadding();
    padding-top: 2em;
    padding-bottom: 0.5em;

    @include sm {
        padding-top: 0.5em;
        padding-bottom: unset;
    }

    .container {
        display: flex;
        @include center;
        justify-content: space-between;
        @include maxWidth;

        @include sm {
            grid-template-columns: 1fr;
            #logo {
                display: none;
            }
            .links {
                width: 100%;
            }
        }

        > *:first-child,
        > *:last-child {
            flex-grow: 1;
            flex-basis: 0;
        }

        .links {
            padding: unset;
            text-align: right;
            @include center();
            justify-content: flex-start;

            @include sm {
                justify-content: flex-start;
            }
        }

        .languages {
            display: flex;
            justify-content: flex-end;
            margin: unset;

            li a {
                @include sm {
                    flex-direction: row;

                    span {
                        margin-right: 7px;
                    }
                }
            }
        }

        a {
            border-bottom: 2px solid transparent;
            padding-bottom: 9px;
            padding-top: 9px;
            transition: border $transitionTime;
            color: white;
            position: relative;
            margin-left: 25px;
            font-size: 17px;

            @include textShadow;

            svg {
                margin-right: 7px;
            }

            &:hover {
                border-color: white;
            }

            @include sm {
                font-size: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 15px;

                svg {
                    margin: unset;
                    margin-bottom: 5px;
                }
            }

            &:first-child {
                margin-left: unset;
            }
        }
    }
}

.content {
    @import 'content';
}

footer {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff1;
    backdrop-filter: blur(15px);
    color: white;
    z-index: 1000;
    @include sidePadding();

    > .container {
        @include maxWidth;
        margin-top: 2em;
        margin-bottom: 2em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            &#signature {
                text-align: center;
            }

            &#contact {
                text-align: right;
            }

            &:first-child,
            &:last-child {
                flex-grow: 1;
                flex-basis: 0;
            }

            a {
                color: white;
                font-weight: 500;
            }
        }

        @include md {
            flex-wrap: wrap;
            padding: 1em 0;

            span,
            span#contact {
                width: 100%;
                text-align: center;
                margin-bottom: 1em;

                &:last-child {
                    margin-bottom: unset;
                }
            }
        }
    }
}

.homepage {
    #homeLink {
        display: none;
    }
    .links a:nth-child(2) {
        margin-left: unset;
    }
}

.homepage,
.goodbye {
    footer {
        bottom: 0;
    }
}

.goodbye #hero {
    height: 100vh;
    box-sizing: border-box;

    > #formContainer {
        margin-bottom: 2em;

        > * {
            @include marginAuto;
            max-width: 600px;
        }

        h2 {
            font-size: 4em;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            margin-top: 2em;

            > * {
                width: 100%;
            }

            input,
            textarea,
            button {
                margin-top: 1em;
                padding: 1em;
                border: 0px;
                border-radius: 10px;
                font-family: inherit;
                font-size: 1em;
                font-weight: 300;
                color: #fff;

                background-color: #fff3;
                backdrop-filter: blur(15px);
                transition: background-color 0.2s;

                &:focus {
                    background-color: #0001;
                    outline: 1px solid #fffa;
                }
            }

            textarea {
                resize: vertical;
                min-height: 62px;
                padding: 1em;
            }

            input::placeholder,
            textarea::placeholder {
                color: #ddd;
            }

            button {
                @include marginAuto;
                cursor: pointer;
                max-width: 300px;
                color: white;
            }
        }
    }
}

.documentation {
    &.privacy {
        .docNav {
            display: none;
        }
    }

    nav #docsLink {
        display: none;
    }

    footer {
        @media (prefers-color-scheme: light) {
            background-color: #f5f7f9;
            color: $blackish;

            > .container span a {
                color: $blackish;
            }
        }
    }
}
