@import 'global';

nav {
    position: absolute; 
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    @include sidePadding();
    padding-top: .5em;
    
    .container {
        display: flex;
        @include center;
        justify-content: space-between;
        @include maxWidth;

        @include sm {
            grid-template-columns: 1fr;
            #logo { display: none; }
            .links { width: 100%; }
        }
    
        #logo {
            // height: 50px;
            
            @include textShadow();
            position: relative; 
            img { height: 100%; }
            a { color: white; }
        }
    
        .links {
            padding: unset;
            text-align: right;
            @include center();
            justify-content: flex-end;
    
            @include sm {
                justify-content: center;
            }
    
            // .sublinks {
            //     display: flex;
            //     opacity: 0; visibility: hidden;
            //     min-width: 150px;
            //     top: 55px;
            //     position: absolute;
            //     flex-direction: column;
            //     text-align: left;
            //     transition: opacity $transitionTime ease-in;
    
            //     background: rgba(51, 51, 51, 0.5);
            //     backdrop-filter: blur(5px);
            //     padding: 10px;
            //     left: -10px;
            //     border-radius: 10px;
            //     box-sizing: unset;
    
            //     @include sm {
            //         a { margin-left: unset; }
            //     }
            // }
    
            a {
                border-bottom: 2px solid transparent;
                padding-bottom: 9px; padding-top: 9px;
                transition: border $transitionTime;
                color: white;
                position: relative;
                @include textShadow;
    
                @include sm {
                    margin-left: 12px;
                    font-size: 14.5px;
                }
                
                &:first-child { margin-left: unset; }
    
                svg { margin-right: 7px; }
    
                &:hover {
                    border-color: white;
    
                    // .sublinks {
                    //     opacity: 1; visibility: visible;
                    // }
                }
            }
    
            > a {
                margin-left: 25px;
            }
        }
    }


}

.content {
    @import 'content';
}


footer {
    min-height: 5em;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: rgba(51, 51, 51, 0.5);
    backdrop-filter: blur(5px);
    color: white;
    @include sidePadding();

    .container {
        @include maxWidth;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            &#signature { text-align: center; }
    
            &#contact {
                text-align: right;
            }
    
            &:first-child, &:last-child  {
                flex-grow: 1;
                flex-basis: 0;
            }
    
            a {
                color: white;
                font-weight: 400;
            }
            
        }

        @include md {
            flex-wrap: wrap;
            padding: 1em 0;
    
            span, span#contact { width: 100%;
                text-align: center;
                margin-bottom: 1em;
    
                &:last-child { margin-bottom: unset; }
            }
        }
    }
}

.homepage {
    footer {
        bottom: 0;
        // background: unset;
        // backdrop-filter: unset;
    }
}