---
import Background from '../components/Background.astro'
import Trans from '../components/Trans.astro'
import Layout from '../layouts/Layout.astro'
import Link from '../components/Link.astro'

import Image from '../assets/fields.webp'
---

<script is:inline>
const oldURLs = ['/use-bonjourr', '/misc', '/profiles', '/styles']
let path = location.pathname

if (oldURLs.includes(path)) {
	path = path.replace('misc', 'overview')
	path = path.replace('use-bonjourr', 'platforms')
	path = path.replace('/', '/docs/')

	if (navigator.language === 'fr') {
		path = path.replace('/docs/', '/fr/docs/')
	}

	location.assign(path)
}
</script>

<Layout title='404! · Bonjourr Startpage' id='404' lang='en'>
	<Background src={Image} blur='2' />

	<div class='wrapper'>
		<h1>
			<span>4</span>
			<span>0</span>
			<span>4</span>
		</h1>
		<Link href='/' class='button'>
			<Trans>Back to home</Trans>
		</Link>
	</div>
</Layout>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: calc(100vh - 140px);
	}

	h1 {
		display: inline-flex; /* removes whitespaces nodes on firefox */
		margin-top: 0;
		font-size: 10em;
		text-shadow: 0.07em 0.07em #fff3;
		letter-spacing: 0;
		cursor: default;
	}

	h1 span {
		transition: transform 0.15s;
	}

	h1 span:hover {
		transform: scale(0.8);
	}
</style>
