---
import Layout from '../layouts/Layout.astro'
import Background from '../components/Background.astro'
import OpenImage from '../assets/backgrounds/matt-drenth-IZ0a3V1aSbc.jpg'
---

<Layout title='Contact · Bonjourr Startpage' id='frontpage' lang='en'>
	<Background src={OpenImage} blur='2' brightness='.4' width='800' />

	<main>
		<h1>Contact us</h1>
	</main>
</Layout>

<style>
	main {
		min-height: 100vh;
		padding-top: 20vh;
		max-width: 800px;
		margin: auto;
	}
</style>
