---
import Layout from '../layouts/Layout.astro'
import GoodbyeForm from '../components/Goodbye/GoodbyeForm.astro'
---

<Layout title={`Uninstalled Bonjourr · Startpage for your browser`} lang="en">
	<GoodbyeForm>
		<span slot="title">Thank you for using Bonjourr.</span>
		<span slot="desc">
			We're sorry to see you go. If you have time, tell us what would make Bonjourr better,
			thanks! 😊
		</span>

		<span slot="label-message">Your message</span>
		<span slot="submit">Submit</span>

		<span slot="sent">Your message has been sent, thank you!</span>
		<span slot="back">Back to home</span>
	</GoodbyeForm>
</Layout>
