---
import Layout from "@layouts/Layout.astro"

import Frontpage from "@components/Frontpage/Frontpage.astro"
import Landing from "@components/Frontpage/Landing.astro"
import Further from "@components/Frontpage/Further.astro"
import Showcase from "@components/Frontpage/Showcase.astro"
---

<Layout
	lang="en"
	id="frontpage"
	title="Bonjourr · Minimalist and customizable startpage"
	ogtitle="Bonjourr · Minimalist and customizable startpage"
	desc="Bonjourr transforms your browser's new tabs into a beautiful, customizable and lightweight startpage inspired by iOS. Simple, fast, and elegant."
>
	<Frontpage>
		<Landing slot="landing">
			<span slot="subtitle">Minimalist Startpage</span>
			<span slot="download">Download</span>
			<span slot="online">Try online</span>
			<span slot="other">Searching for other browsers?</span>
		</Landing>

		<Showcase slot="showcase">
			<span slot="title">Minimalist & lightweight startpage</span>
			<p slot="desc">
				Bonjourr replaces your new tab page for something more refined and minimal. We took
				inspiration from Apple’s design language to create a startpage that both looks
				amazing and feels great to use in your daily life.
			</p>

			<span slot="dynamic-title">Dynamic Backgrounds</span>
			<p slot="dynamic-desc">
				Bonjourr uses a manually curated collection of the best photos Unsplash has to
				offer. The mood of the photos changes according to the time of the day, from noon to
				the end of the night.
			</p>

			<span slot="custom-title">Customizable</span>
			<p slot="custom-desc">
				Because minimalism doesn’t mean lacking in features, Bonjourr is packed with
				options. Add in your personal touch by changing the font, adding your own
				backgrounds, changing the look of your clock, enabling widgets and much more.
			</p>

			<span slot="more-title">A few more features</span>
			<li slot="more-links">Quick Links</li>
			<li slot="more-searchbar">Search bar</li>
			<li slot="more-fonts">Custom Fonts</li>
			<li slot="more-langs">Multilanguage</li>
			<li slot="more-darkmode">Dark mode</li>
			<li slot="more-notes">Notes & checkboxes</li>
			<li slot="more-quotes">Quotes</li>
			<li slot="more-css">Custom CSS</li>
		</Showcase>

		<h2 slot="open-title">🔒 Free, open source and privacy focused</h2>
		<p slot="open-text">
			Bonjourr is created by two independent developers who love things well made and <i
				>actually</i
			> believe privacy matters. Since we don't want to collect any of our users' personal data,
			you can start using Bonjourr immediately, without needing to create or log into an account.
		</p>

		<Further slot="further">
			<span slot="title">Want to go further?</span>

			<span slot="contact-title">Contact</span>
			<span slot="contact-desc">
				Come and hang out with Bonjourr on Bluesky or Telegram. You can tell us about your
				ideas and read about the latest news about its development.
			</span>
			<span slot="contact-button-bluesky">Bluesky</span>
			<span slot="contact-button-telegram">Telegram</span>

			<span slot="docs-title">Documentation</span>
			<span slot="docs-desc">
				Learn all about Bonjourr and its features in our illustrated documentation. Get to
				know how you can contribute to the project and go even further into customization.
			</span>
			<span slot="docs-button">Documentation</span>

			<span slot="repo-title">Fork Bonjourr</span>
			<span slot="repo-desc">
				Fork Bonjourr and add your own features on our GitHub repositories. We’re open to
				pull requests!
			</span>
			<span slot="repo-button">GitHub repository</span>
		</Further>

		<h2 slot="donate-title">✨ Donate ✨</h2>
		<p slot="donate-text">
			Since Bonjourr is free, respects your privacy and doesn’t collect or sell your data,
			donations are the only way we’re able to keep it running.<br /><br />

			Your support allows us to dedicate more time to Bonjourr and pursue our dream of working
			on it full-time. As a thank you, if you donate now, your name will appear in Bonjourr
			next month! (<a
				style="text-decoration: underline"
				href="/docs/overview#supporters-notification">More info</a
			>)
		</p>

		<span slot="donate-fiat">Donate on Ko-Fi</span>
		<span slot="donate-crypto">Donate crypto</span>
	</Frontpage>
</Layout>
