---
import BlogGrid from "@components/BlogGrid.astro"
---

<div id="blog">
	<div class="section-wrapper">
		<h2>Latest updates</h2>
		<p>Read the latest Bonjourr news, development updates, and release announcements.</p>

		<BlogGrid slot="BlogGrid" postsIndex="3" />

		<div class="blog-action">
			<a class="button btn-themed" href="/blog">See all updates</a>
		</div>
	</div>
</div>

<style>
	#blog {
		background: var(--color-background);
	}

	.section-wrapper {
		max-width: 1200px;
		margin-inline: auto;
		padding: 5em 2em;
	}

	.section-wrapper > p {
		text-align: center;
	}

	h2 {
		margin-top: 0;
	}

	p {
		margin-bottom: 2rem;
	}

	.blog-action {
		margin-top: 2rem;
		text-align: center;
		display: flex;
		justify-content: flex-end;
	}

	@media (max-width: 900px) {
		#blog .section-wrapper {
			padding: 64px 1.5rem;
		}
	}
</style>
