---
import Background from "../Background.astro"

import LandingImage from "@assets/backgrounds/mitch-meyers-YQD1Xljt4xo.jpg"
import DonateImage from "@assets/backgrounds/timur-kozmenko-O_cPK84YZf4.jpg"
import OpenImage from "@assets/backgrounds/matt-drenth-IZ0a3V1aSbc.jpg"
---

<section id="hero">
	<Background
		src={LandingImage}
		blur=".7"
		brightness=".9"
		width="600"
		alt="Hero background of a swimming turtle"
	/>

	<slot name="landing" />
</section>

<section id="showcase">
	<div class="section-wrapper">
		<slot name="showcase" />
	</div>
</section>

<section id="open">
	<Background
		src={OpenImage}
		blur=".7"
		brightness=".8"
		width="600"
		alt="Landscape photography of moutains at dusk"
	/>

	<div class="section-wrapper">
		<slot name="open-title" />
		<slot name="open-text" />
	</div>
</section>

<section id="further">
	<div class="section-wrapper">
		<slot name="further" />
	</div>
</section>

<section id="donate">
	<Background
		src={DonateImage}
		blur=".7"
		brightness=".8"
		width="600"
		alt="landscape photography of a forest on a mountain"
	/>

	<div class="section-wrapper">
		<slot name="donate-title" />
		<slot name="donate-text" />

		<div class="buttons">
			<a href="https://ko-fi.com/bonjourr" class="button">
				<img width="64" src="/frontpage/ko-fi.svg" class="icon" alt="ko-fi icon" />
				<slot name="donate-fiat" />
			</a>

			<a
				href="https://commerce.coinbase.com/checkout/095cc203-130d-4e56-9716-3aa10a202d9b"
				class="button"
			>
				<img width="64" src="/frontpage/btc.svg" class="icon" alt="bitcoin icon" />
				<slot name="donate-crypto" />
			</a>
		</div>
	</div>
</section>

<style>
	h3 {
		font-size: 1.5em;
		font-weight: 500;
		text-align: center;
	}

	#hero {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 8em 4em;
		padding-top: 8em;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		min-height: 80vh;
	}

	@media only screen and (max-height: 1000px) and (min-width: 700px) {
		#hero {
			min-height: 100vh;
		}
	}

	.section-wrapper {
		margin: auto;
		padding: 3em 2em;
		max-width: 1200px;
		z-index: 1;
	}

	#showcase {
		color: white;
		background: linear-gradient(0.25turn, #140a17, #231730, #140a17);
	}

	#open,
	#donate {
		position: relative;
		color: white;
		background-position: 50% 50%;
		background-size: cover;
	}

	#open .section-wrapper,
	#donate .section-wrapper {
		max-width: 600px;
	}

	#open,
	#donate,
	#further {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 700px;
	}

	#further {
		min-height: 900px;
		background-color: #fafafd;
	}

	#donate .buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		gap: 1em;
		margin-top: 3em;
	}

	@media only screen and (min-width: 1600px) {
		#open,
		#donate,
		#further {
			min-height: 900px;
		}
	}

	@media only screen and (max-width: 500px) {
		#hero {
			padding: 10em 2em;
			min-height: 200px;
		}

		#donate {
			padding-bottom: unset;
		}

		#donate h2 {
			margin-top: unset;
		}
	}

	@media only screen and (max-width: 390px) {
		#further .section-wrapper {
			padding: 2em 1em;
		}
	}
</style>
