---
import Link from "../Link.astro"
---

<h2>
	<slot name="title" />
</h2>

<div class="bloc">
	<h3>
		<slot name="contact-title" />
	</h3>

	<p>
		<slot name="contact-desc" />
	</p>

	<div class="btn-wrapper">
		<a href="https://bsky.app/profile/bonjourr.fr" class="button btn-themed">
			<img width="64" src="/frontpage/bluesky-blue.svg" class="icon" alt="" />
			<slot name="contact-button-bluesky" />
		</a>

		<a href="https://t.me/BonjourrStartpage" class="button btn-themed">
			<img width="64" src="/frontpage/telegram.svg" class="icon" alt="" />
			<slot name="contact-button-telegram" />
		</a>
	</div>
</div>

<div class="bloc">
	<h3>
		<slot name="docs-title" />
	</h3>

	<p>
		<slot name="docs-desc" />
	</p>

	<div class="btn-wrapper">
		<Link href="/docs" class="button btn-themed">
			<img width="64" src="/frontpage/docs.svg" class="icon" alt="" />
			<slot name="docs-button" />
		</Link>
	</div>
</div>

<!-- <div class="bloc">
	<h3>
		<slot name="repo-title" />
	</h3>
	<p>
		<slot name="repo-desc" />
	</p>
</div> -->

<style is:global>
	#further {
		min-height: 900px;
		margin-inline: auto;
		padding: 5em 2em;
	}

	#further .section-wrapper {
		max-width: 700px;
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	@media only screen and (max-width: 500px) {
		#further {
			padding: 1.5em 0.5em;
		}

		#further .section-wrapper {
			padding: 2em 1em;
		}
	}
</style>

<style>
	h2 {
		text-align: center;
		font-size: 2em;
		font-weight: 500;
		margin-top: unset;
	}

	h3 {
		font-size: 1.6em;
		font-weight: 500;
		margin: 0;
	}

	p {
		margin-top: 1em;
		align-self: flex-start;
		color: #6e6e73;
	}

	.bloc {
		padding: 2em;
		background-color: var(--color-background);
		border-radius: 30px;
	}

	.btn-wrapper {
		display: inline-flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 0.5em;
	}
</style>
