---
import Link from "../Link.astro"
---

<h2>
	<slot name="title" />
</h2>

<div class="bloc">
	<h3>
		<slot name="contact-title" />
	</h3>

	<p>
		<slot name="contact-desc" />
	</p>

	<div class="btn-wrapper">
		<a href="https://bsky.app/profile/bonjourr.fr" class="button btn-themed">
			<img width="64" src="/frontpage/bluesky-blue.svg" class="icon" alt="" />
			<slot name="contact-button-bluesky" />
		</a>

		<a href="https://t.me/BonjourrStartpage" class="button btn-themed">
			<img width="64" src="/frontpage/telegram.svg" class="icon" alt="" />
			<slot name="contact-button-telegram" />
		</a>
	</div>
</div>

<div class="bloc">
	<h3>
		<slot name="docs-title" />
	</h3>

	<p>
		<slot name="docs-desc" />
	</p>

	<div class="btn-wrapper">
		<Link href="/docs" class="button btn-themed">
			<img width="64" src="/frontpage/docs.svg" class="icon" alt="" />
			<slot name="docs-button" />
		</Link>
	</div>
</div>

<div class="bloc">
	<h3>
		<slot name="repo-title" />
	</h3>
	<p>
		<slot name="repo-desc" />
	</p>

	<div class="btn-wrapper">
		<a href="https://github.com/victrme/Bonjourr" class="button btn-themed">
			<img width="64" src="/frontpage/github-dark.svg" class="icon" alt="" />
			<slot name="repo-button" />
		</a>
	</div>
</div>

<style>
	h2 {
		text-align: center;
		font-size: 2em;
		font-weight: 500;
		margin-bottom: 1.25em;
	}

	h3 {
		font-size: 1.6em;
		font-weight: 500;
		margin: 0;
	}

	p {
		margin: 1.5em 0;
		align-self: flex-start;
	}

	.bloc {
		margin: 4em 0;
	}

	.btn-wrapper {
		display: inline-flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 0.5em;
	}
</style>
