---
import Link from '../Link.astro'
---

<div class='container'>
	<div>
		<h2>
			<slot name='title' />
		</h2>
	</div>

	<div>
		<h3>
			<slot name='contact-title' />
		</h3>

		<p>
			<slot name='contact-desc' />
		</p>

		<a href='https://t.me/BonjourrStartpage' class='button'>
			<img width='64' src='/frontpage/telegram.svg' class='icon' alt='' />
			<slot name='contact-button' />
		</a>
	</div>

	<div>
		<h3>
			<slot name='docs-title' />
		</h3>

		<p>
			<slot name='docs-desc' />
		</p>

		<Link href='/docs' class='button'>
			<img width='64' src='/frontpage/docs.svg' class='icon' alt='' />
			<slot name='docs-button' />
		</Link>
	</div>

	<div>
		<h3>
			<slot name='repo-title' />
		</h3>
		<p>
			<slot name='repo-desc' />
		</p>
		<a href='https://github.com/victrme/Bonjourr' class='button'>
			<img width='64' src='/frontpage/github.svg' class='icon' alt='' />
			<slot name='repo-button' />
		</a>
	</div>
</div>

<style>
	.container {
		display: grid;
		grid-template-columns: repeat(2, minmax(calc(50% - 3em), 35em));
		gap: 3em;
		margin: auto;
		width: fit-content;
	}

	.container > div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 20px;
		padding: 30px;
		color: white;
	}

	.container > div:nth-child(1) {
		display: flex;
		place-items: center;
		place-content: center;
		color: #222;
	}

	.container > div:nth-child(2) {
		background-color: #2b7ad4;
	}

	.container > div:nth-child(3) {
		background-color: #127c8d;
	}

	.container > div:nth-child(4) {
		background-color: #333333;
	}

	h2 {
		text-align: center;
		font-size: 2em;
		font-weight: 500;
		margin-bottom: 1.25em;
	}

	h3 {
		font-size: 1.6em;
		font-weight: 500;
		margin: 0;
	}

	p {
		margin: 1.5em 0;
		align-self: flex-start;
	}

	@media only screen and (max-width: 800px) {
		.container {
			grid-template-columns: 1fr;
		}
	}

	@media only screen and (max-width: 500px) {
		.container > div:nth-child(1) {
			padding: 0px;
		}

		.container > div:nth-child(1) h2 {
			margin-bottom: 0px !important;
		}
	}
</style>
