---
import { Image } from 'astro:assets'
import Link from '../Link.astro'
import Illustration from '../../assets/frontpage/illustration.png'
---

<script>
	const userAgentRules = {
		edge: /EdgA?\/([0-9\.]+)/,
		'chromium-webview': /(?!Chrom.*OPR)wv\).*Chrom(?:e|ium)\/([0-9\.]+)(:?\s|$)/,
		chrome: /(?!Chrom.*OPR)Chrom(?:e|ium)\/([0-9\.]+)(:?\s|$)/,
		firefox: /Firefox\/([0-9\.]+)(?:\s|$)/,
		opera: /Opera\/([0-9\.]+)(?:\s|$)/,
		android: /Android\s([0-9\.]+)/,
		ios: /Version\/([0-9\._]+).*Mobile.*Safari.*/,
		safari: /Version\/([0-9\._]+).*Safari/,
	}

	const entries = Object.entries(userAgentRules)
	const match = entries.find(([_, regex]) => !!navigator.userAgent.match(regex))
	const name = match?.[0]

	const icon = {
		firefox: '/browsers/firefox.svg',
		chrome: '/browsers/chrome.svg',
		edge: '/browsers/edge.svg',
		safari: '/browsers/safari.svg',
		ios: '/browsers/safari.svg',
	}[name ?? '']

	const link = {
		firefox: 'https://addons.mozilla.org/firefox/addon/bonjourr-startpage/',
		chrome: 'https://chromewebstore.google.com/detail/bonjourr-%C2%B7-minimalist-sta/dlnejlppicbjfcfcedcflplfjajinajd',
		edge: 'https://microsoftedge.microsoft.com/addons/detail/bonjourr/dehmmlejmefjphdeoagelkpaoolicmid',
		safari: 'https://apps.apple.com/fr/app/bonjourr-startpage/id1615431236',
		ios: 'docs#available',
	}[name ?? '']

	if (icon && link) {
		document.getElementById('download-link')?.setAttribute('href', link)
		document.getElementById('download-icon')?.setAttribute('src', icon)
		document.getElementById('download-icon')?.setAttribute('style', 'visibility: visible')
	} else {
		document.getElementById('download-link')?.setAttribute('style', 'display: none')
	}
</script>

<div class='wrapper'>
	<div class='left'>
		<div class='title'>
			<h1>Bonjourr</h1>
			<p>
				<slot name='subtitle' />
			</p>
		</div>

		<div class='container'>
			<a id='download-link' href='' class='button'>
				<div class='icon'>
					<img id='download-icon' src='' alt='' width='30' />
				</div>
				<slot name='download' />
			</a>

			<a id='online-link' href='https://online.bonjourr.fr' rel='noreferrer' class='button'>
				<Image src='/browsers/desktop.svg' class='icon' alt='' width='30' height='30' />
				<span>
					<slot name='online' />
				</span>
			</a>
		</div>

		<div class='link'>
			<Link href='/docs#available'>
				<i>
					<slot name='other' />
				</i>
			</Link>
		</div>
	</div>

	<picture id='illustration'>
		<Image
			src={Illustration}
			densities={[2]}
			loading='eager'
			format='webp'
			alt='Bonjourr screenshot'
		/>
	</picture>
</div>

<style>
	h1,
	p {
		margin: 0;
	}

	#download-icon {
		visibility: hidden;
	}

	#download-link,
	#online-link {
		transition: none;
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8vw;
	}

	.title {
		font-size: 2em;
		margin-bottom: 1.25em;
	}

	#illustration {
		background-size: cover;
		color: transparent;
		border-radius: 8px;
		overflow: hidden;
		width: 480px;
		height: 295px;
	}

	#illustration img {
		width: 100%;
		height: 100%;
		image-rendering: optimizeQuality;
	}

	.title h1 {
		font-size: 2.5em;
		font-weight: 350;
	}

	.link {
		margin-top: 1.5em;
	}

	.link a {
		opacity: 0.8;
	}

	.link a:hover {
		opacity: 1;
		text-decoration: underline;
	}

	a {
		min-width: 200px;
	}

	.container {
		display: flex;
		gap: 1em;
	}

	@media only screen and (max-width: 1300px) {
		.title {
			font-size: 1.6em;
		}

		#illustration {
			width: 420px;
			height: 258px;
		}
	}

	@media only screen and (max-width: 1000px) {
		.wrapper {
			flex-direction: column;
			gap: 4em;
		}

		.left {
			margin-right: 0;
		}

		.title {
			margin-bottom: 1em;
		}
	}

	@media only screen and (max-width: 580px) {
		.title {
			font-size: 1.4em;
		}

		#illustration {
			display: none;
		}
	}

	@media only screen and (max-width: 450px) {
		.container {
			align-items: center;
			flex-direction: column;
		}
	}
</style>
