---
import { Picture } from 'astro:assets'
import Trans from '../Trans.astro'
import Link from '../Link.astro'

import Illustration from '../../assets/illustrations/illustration.png'
import { desktop } from '../../assets/icons/browsers'
---

<script>
	import { detect } from 'detect-browser'

	const { name } = detect() ?? { name: '' }
	let icon = ''
	let link = ''

	switch (name) {
		case 'firefox': {
			icon = (await import('../../assets/icons/browsers/firefox.svg')).default.src
			link = 'https://addons.mozilla.org/fr/firefox/addon/bonjourr-startpage/'
			break
		}

		case 'chrome': {
			icon = (await import('../../assets/icons/browsers/chrome.svg')).default.src
			link = 'https://chrome.google.com/webstore/detail/bonjourr-%C2%B7-minimalist-sta/dlnejlppicbjfcfcedcflplfjajinajd'
			break
		}

		case 'edge-chromium': {
			icon = (await import('../../assets/icons/browsers/edge.svg')).default.src
			link = 'https://microsoftedge.microsoft.com/addons/detail/bonjourr/dehmmlejmefjphdeoagelkpaoolicmid'
			break
		}

		case 'safari': {
			icon = (await import('../../assets/icons/browsers/safari.svg')).default.src
			link = 'https://apps.apple.com/fr/app/bonjourr-startpage/id1615431236'
			break
		}

		case 'ios': {
			icon = (await import('../../assets/icons/browsers/safari.svg')).default.src
			link = '/docs/platforms#ios-and-android'
			break
		}
	}

	if (name) {
		document.getElementById('download-link')?.setAttribute('href', link)
		document.getElementById('download-icon')?.setAttribute('src', icon)
		document.getElementById('download-icon')?.setAttribute('style', 'opacity: 1')
	} else {
		document.getElementById('download-link')?.setAttribute('style', 'display: none')
	}
</script>

<div class='wrapper'>
	<div class='left'>
		<div class='title'>
			<h1>Bonjourr</h1>
			<p><Trans>Startpage for your browser</Trans></p>
		</div>

		<div class='container'>
			<a id='download-link' href='' class='button'>
				<div class='icon'>
					<img id='download-icon' src='' alt='' width='30' />
				</div>
				<span>
					<Trans slot='Download'>Download</Trans>
				</span>
			</a>

			<a href='https://online.bonjourr.fr' rel='noreferrer' class='button'>
				<img src={desktop} class='icon' alt='' width='30' />
				<span>
					<Trans slot='Online'>Try online</Trans>
				</span>
			</a>
		</div>

		<div class='link'>
			<Link href='/docs/platforms'>
				<i>
					<Trans>Searching for other browsers?</Trans>
				</i>
			</Link>
		</div>
	</div>

	<Picture
		id='illustration'
		src={Illustration}
		width='480'
		densities={[2]}
		loading='eager'
		formats={['avif', 'webp']}
		alt='Bonjourr screenshot'
	/>
</div>

<style>
	h1,
	p {
		margin: 0;
	}

	picture {
		max-width: 480px;
	}

	picture img {
		width: 100%;
		object-fit: contain;
	}

	#download-icon {
		opacity: 0;
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8vw;
	}

	.title {
		font-size: 2em;
		margin-bottom: 1.25em;
	}

	.title h1 {
		font-size: 2.5em;
		font-weight: 300;
	}

	.link {
		margin-top: 1.5em;
	}

	.link a {
		opacity: 0.8;
		transition: all 0.1s;
	}

	.link a:hover {
		opacity: 1;
		text-decoration: underline;
	}

	a {
		min-width: 200px;
	}

	.icon {
		display: flex;
	}

	.container {
		display: flex;
		gap: 1em;
	}

	@media only screen and (max-width: 450px) {
		.container {
			align-items: center;
			flex-direction: column;
		}
	}

	@media only screen and (max-width: 1300px) {
		.title {
			font-size: 1.6em;
		}
	}

	@media only screen and (max-width: 1100px) {
		.wrapper {
			gap: 2em;
		}

		.title {
			font-size: 1.4em;
		}
	}

	@media only screen and (max-width: 900px) {
		.wrapper {
			flex-direction: column;
			gap: 4em;
		}

		.left {
			text-align: center;
			margin-right: 0;
		}

		.title {
			margin-bottom: 1em;
		}
	}

	@media only screen and (max-width: 580px) {
		.title {
			font-size: 1.4em;
		}

		.wrapper {
			height: auto;
		}

		#illustration {
			display: none;
		}
	}
</style>
