---
import Trans from '../Trans.astro'

import DynamicImage from '../../assets/dynamic.webp'
import DynamicImage2x from '../../assets/dynamic2x.webp'
import CustomiseImage from '../../assets/customise.webp'
---

<div id='intro'>
	<h2>
		<Trans>Minimalist & lightweight startpage</Trans>
	</h2>
	<p>
		<Trans>
			Bonjourr replaces your new tab page for something more refined and minimal. We took inspiration from Apple’s design
			language to create a startpage that both looks amazing and feels great to use in your daily life.
		</Trans>
	</p>
</div>

<div id='dynamic' class='image-row'>
	<div class='left'>
		<img
			src={DynamicImage}
			srcset={DynamicImage2x + ' 2x'}
			alt='Bonjourr dynamic backgrounds screenshot'
			width='560'
			height='372'
		/>
	</div>

	<div class='right'>
		<h3>
			<Trans>Dynamic Backgrounds</Trans>
		</h3>

		<hr />

		<p>
			<Trans>
				Bonjourr uses a manually selected collection of the best photos Unsplash has to offer. The mood of the photos
				changes according to the time of the day, from noon to the end of the night.
			</Trans>
		</p>
	</div>
</div>

<div id='custom' class='image-row'>
	<div class='left'>
		<h3>
			<Trans>Customisable</Trans>
		</h3>
		<hr />
		<p>
			<Trans>
				Because minimalism doesn’t rhyme with lack of features, Bonjourr is stuffed with options. Add in your personal
				touch by changing the font, adding your own backgrounds or changing the look of your clock.
			</Trans>
		</p>
	</div>

	<div class='right'>
		<img src={CustomiseImage} alt='Bonjourr dynamic backgrounds screenshot' width='560' height='342' />
	</div>
</div>

<div id='more'>
	<h3>
		<Trans>A few more features</Trans>
	</h3>
	<div class='listContainer'>
		<div class='left'>
			<ul>
				<li>
					<Trans>Quick Links</Trans>
				</li>
				<li>
					<Trans>Search bar</Trans>
				</li>
				<li>
					<Trans>Google Fonts</Trans>
				</li>
				<li>
					<Trans>Multilanguage</Trans>
				</li>
			</ul>
		</div>
		<div class='right'>
			<ul>
				<li>
					<Trans>Dark mode</Trans>
				</li>
				<li>
					<Trans>Notes & checkboxes</Trans>
				</li>
				<li>
					<Trans>Quotes</Trans>
				</li>
				<li>
					<Trans>Custom CSS</Trans>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	#intro p {
		max-width: 800px;
		margin: auto;
		text-align: center;
	}

	img {
		object-fit: contain;
	}

	h3 {
		font-size: 2em;
		font-weight: 500;
		margin: 0;
	}

	hr {
		display: block;
		border: unset;
		border-bottom: 2px solid white;
		width: 80px;
		margin: 1.5em 0;
	}

	.image-row {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4em;
		margin: 8em 0;
	}

	#more h3 {
		text-align: center;
	}

	#more ul {
		list-style: none;
		padding: unset;
	}

	.listContainer {
		display: flex;
		gap: 1em;
		justify-content: center;
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.listContainer .left {
		text-align: right;
	}

	@media only screen and (max-width: 1100px) {
		img {
			width: 460px;
		}
	}

	@media only screen and (max-width: 900px) {
		img {
			width: 360px;
		}
	}

	@media only screen and (max-width: 768px) {
		.image-row {
			flex-wrap: wrap;
		}

		.image-row#custom {
			flex-wrap: wrap-reverse;
		}

		img {
			height: auto;
			width: 100%;
			padding: 0;
			margin: auto;
		}

		.listContainer {
			font-size: 1.2em;
		}
	}

	@media only screen and (max-width: 500px) {
		.listContainer {
			font-size: 1em;
		}
	}
</style>
