---
import Trans from './Trans.astro'
---

<div id='alert-banner'>
	<div>
		<p>
			<Trans>This is an alert banner !</Trans>
		</p>
	</div>
</div>

<style>
	div#alert-banner {
		display: flex;
		gap: 2em;
		max-width: 510px;
		align-items: center;
		padding: 1em 2em;
		background: #fffc;
		border-radius: 8px;
		color: #222;
		font-weight: 500;
		margin: 0 auto;
		margin-bottom: 5vh;
	}

	p {
		font-size: 0.9em;
		line-height: 1.2em;
	}

	img {
		text-align: center;
		width: 200px;
		border-radius: 8px;
	}

	@media screen and (max-width: 600px) {
		div#alert-banner {
			flex-direction: column;
		}
	}
</style>
