---
const { src } = Astro.props
---

<div class='background' style={src && 'background-image: url(' + src + ')'}>
	<div class='overlay'></div>
</div>

<style>
	.background {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -1;
		background-size: cover;
		background-position: 0% center;
	}

	.overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(12px);
	}
</style>
