---
import { Picture } from 'astro:assets'
const { blur, brightness, src, width } = Astro.props
---

<div>
	<Picture
		alt=""
		src={src}
		width={width}
		densities={[2]}
		formats={['webp']}
		style={`filter: blur(${blur ?? 0}em) brightness(${brightness ?? 1})`}
		{...Astro.props}
	/>
</div>

<style>
	img,
	div {
		position: absolute;
		user-select: none;
		pointer-events: none;
		touch-action: none;
		z-index: -1;
	}

	img {
		top: -2em;
		left: -2em;
		height: calc(100% + 4em);
		width: calc(100% + 4em);
		object-fit: cover;
	}

	div {
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: #222;
	}
</style>
