---
const { src, blur } = Astro.props
---

<div>
	<img src={src} alt='' style={blur && 'filter: blur(' + blur + 'em)'} />
</div>

<style>
	img,
	div {
		position: absolute;
		user-select: none;
		pointer-events: none;
		touch-action: none;
		z-index: -1;
	}

	img {
		top: -2em;
		left: -2em;
		height: calc(100% + 4em);
		width: calc(100% + 4em);
		background-size: cover;
		background-position: 0% center;
		object-fit: cover;
	}

	div {
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: #222;
	}
</style>
