---
import { Icon } from "@astrojs/starlight/components"
---

<button id="custom-open-search" type="button" aria-label="Search">
	<Icon name="magnifier" />
</button>

<script>
	document.getElementById("custom-open-search")?.addEventListener("click", (event) => {
		event.stopPropagation()
		const openModalButton = document.querySelector<HTMLButtonElement>("button[data-open-modal]")
		openModalButton?.click()
	})
</script>

<style>
	#custom-open-search {
		margin-right: 0.5em;
		background: unset;
		border: unset;
		font-size: 1.6rem;
		color: white;

		display: flex;
	}
</style>
