---
import Navigation from "./Navigation.astro"
import Search from "@astrojs/starlight/components/Search.astro"

const { entry } = Astro.locals.starlightRoute
const bg = entry.data.image ?? "/documentation/backgrounds/saad-chaudhry-sAJlWye9at8-unsplash.jpg"
---

<Navigation />

<div style={`background-image: url('${bg}')`}>
	<h1>Documentation</h1>
	<Search />
</div>

<style is:global>
	#bonjourrNav a,
	.container-mobile a {
		text-decoration: none;
	}

	#bonjourrNav a {
		color: white;
	}

	@media (prefers-color-scheme: dark) {
		.container-mobile,
		.container-mobile a {
			color: white;
		}
	}
</style>

<style>
	div {
		margin: auto;
		background-size: cover;
		background-position: center;
		padding: 8em 0 4em;
		font-weight: 500;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		color: white;
		gap: 1em;
	}

	div::before {
		content: "";
		pointer-events: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.4) 10%,
			rgba(0, 0, 0, 0.3) 20%,
			rgba(0, 0, 0, 0.2) 30%,
			rgba(0, 0, 0, 0) 55%
		);
	}

	h1 {
		position: relative;
		padding: 0;
		margin: 0;
		font-weight: 500;
		line-height: 1.5em;
		text-shadow: 2px 2px 5px rgba(17, 17, 17, 0.3);
		font-size: 3em;
	}

	ul {
		padding: 0;
		margin: 0;
		opacity: 0.8;
		list-style: none;
	}

	div ul li a {
		color: inherit;
	}

	li {
		display: inline;
		cursor: default;
		text-transform: capitalize;
		text-shadow: 2px 2px 5px rgba(17, 17, 17, 0.3);
	}

	li::after {
		content: ">";
		margin: 0 0.3em;
	}

	li:last-child::after {
		display: none;
	}

	site-search {
		user-select: none;
	}

	@media only screen and (max-width: 700px) {
		div {
			padding: 5em 0 2em;
		}

		h1 {
			font-size: 2.5em;
		}

		div::before {
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.4) 10%,
				rgba(0, 0, 0, 0.3) 20%,
				rgba(0, 0, 0, 0.2) 30%,
				rgba(0, 0, 0, 0) 75%
			);
		}
	}
</style>
