---
import Trans from '../components/Trans.astro'
import useTranslation from '../locales/useTranslation'

const { isFrench } = useTranslation(Astro)
const locale = isFrench() ? '/fr/' : '/'
---

<div id='hero'>
	<span class='background'></span>

	<div class='message'>
		<h2>
			<Trans>Your message has been sent, thank you!</Trans>
		</h2>

		<a href={locale} class='button'>
			<Trans>Back to home</Trans>
		</a>
	</div>
</div>

<style>
	div#hero {
		height: 100vh;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.message {
		height: 40vh;
	}

	h2 {
		margin: 2em 0;
	}

	a {
		margin: auto;
	}
</style>
