---
const { image } = Astro.props
---

<section id='hero'>
	<span class='background' style={'background-image: url(' + image + ')'}></span>
	<slot />
</section>

<style>
	#hero {
		display: flex;
		color: white;
		position: relative;
		height: calc(100vh - 8em);
		min-height: 550px;
		max-height: 900px;
		padding: 4em;
		justify-content: center;
		align-items: center;
	}

	.background {
		position: absolute;
		overflow: hidden;
		height: 100%;
		width: 100%;
		z-index: -1;
		top: 0;
	}

	.background:before {
		content: '';
		position: absolute;
		background-image: url('../assets/seaside.webp');
		background-size: cover;
		background-position: 0% center;
		filter: blur(12px);

		display: block;
		width: 100%;
		height: 100%;
		transform: scale(1.1);
	}
</style>
