---
import useTranslation from '../locales/useTranslation'

const { locale } = useTranslation(Astro)
let { href } = Astro.props

href = locale + href
---

<a href={href} {...Astro.props}>
	<slot />
</a>
