---
import Link from './Link.astro'

const isFrench = Astro.url.pathname.startsWith('/fr')
const path = Astro.url.pathname

const trans = {
	Home: 'Accueil',
	Donate: 'Dons',
	Help: 'Aider',
	Online: 'Online',
}
---

<nav>
	<div class="container">
		<div class="links">
			<Link href="/" id="homeLink">Home</Link>
			<Link href="/docs">Docs</Link>
			<Link href="/#further">Contact</Link>
			<a href="https://ko-fi.com/bonjourr">Donate</a>
			<a href="https://github.com/victrme/Bonjourr">Github</a>
			<a href="https://online.bonjourr.fr">Online</a>
		</div>

		<a href={isFrench ? path.substring(3) : '/fr' + path} class="language">
			<span role="img" aria-label="">🌍</span>
			{isFrench ? 'en' : 'fr'}
		</a>
	</div>
</nav>

<style>
	nav {
		position: absolute;
		width: 100%;
		z-index: 3;
	}

	nav .container {
		display: flex;
		justify-content: space-between;
		column-gap: 2em;
		max-width: 1200px;
		padding: 2.5em 4em;
		margin: auto;
	}

	.language {
		display: flex;
		gap: 0.2em;
	}

	nav .links {
		display: flex;
		column-gap: 2.5em;
		overflow-x: auto;
	}

	nav .links:hover a:hover {
		opacity: 1;
		border-color: white;
		border-bottom: 1px solid white;
	}

	.container a {
		position: relative;
		padding: 0.5em 0 0.25em 0;
		font-weight: 500;
		border-bottom: 2px solid transparent;
	}

	nav .links::-webkit-scrollbar {
		display: none;
	}

	@media only screen and (max-width: 500px) {
		nav .container {
			padding: 2em;
		}

		nav .links {
			display: flex;
			column-gap: 1.8em;
		}
	}
</style>
