---
import Trans from './Trans.astro'
import useTranslation from '../locales/useTranslation'

const { isFrench } = useTranslation(Astro)
const fr = isFrench()
const locale = fr ? '/fr/' : '/'
---

<nav>
	<div class='container'>
		<div class='links'>
			<a href={locale} id='homeLink'>
				<Trans>Home</Trans>
			</a>

			<a href='https://online.bonjourr.fr'>
				<Trans>Online</Trans>
			</a>

			<a href={locale + 'docs/platforms'}>
				<Trans>Docs</Trans>
			</a>

			<a href={locale + '#donate'}>
				<Trans>Donate</Trans>
			</a>

			<a href={locale + '#further'}>Contact</a>
		</div>

		<a href={fr ? Astro.url.pathname.substring(3) : '/fr' + Astro.url.pathname} class='language'>
			<span role='img' aria-label='globe-emoji'>🌍</span>
			{fr ? 'en' : 'fr'}
		</a>
	</div>
</nav>

<style>
	nav {
		position: absolute;
		width: 100%;
		z-index: 3;
	}

	nav .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2em;
		max-width: 1200px;
		margin: auto;
	}

	.language {
		display: flex;
		gap: 0.2em;
	}

	nav .links:hover a {
		opacity: 0.8;
	}

	nav .links:hover a:hover {
		opacity: 1;
		border-color: white;
		border-bottom: 2px solid white;
		transition: border-color 0.15s;
	}

	a {
		position: relative;
		padding: 0.4em 0;
		font-weight: 500;
		line-height: 2em;
		border-bottom: 0px solid transparent;
		transition: border 0.1s;
	}

	.links a {
		margin-right: 1.5em;
	}
</style>
