---
import Layout from './Layout.astro'

let { title, lang, frontmatter } = Astro.props

if (!title && frontmatter) {
	title = frontmatter.title
}
---

<script is:inline>
	window.addEventListener('DOMContentLoaded', function() {	
		Object.values(document.querySelectorAll('h2, h3, h4, h5, h6'))
			.filter(h => h.id)
			.forEach(heading => {
				heading.innerHTML += `<a href="#${heading.id}" class="perma" aria-label="permalink">🔗</a>`
		})
	})
</script>

<Layout title={`${title} · Bonjourr's documentation`} lang={lang} id='docs'>

	<main>
		<div class='content'>
			<slot />
		</div>
	</main>
</Layout>

<style is:global>
	#gradient-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
	}
	
	body {
		background-color: #111;
	}

	main {
		min-height: calc(100vh - 470px);
		line-height: 1.6em;
	}

	h1 {
		font-size: 3em;
		line-height: 2em;
		text-align: center;
	}

	.inline-code {
		border-radius: 3px;
		padding: 2px 6px;
		font-size: 14px;
		color: #eee;
		background-color: #222;
		overflow-wrap: break-word;
	}

	pre {
		tab-size: 1.5em;
		padding: 1.5em;
		border-radius: 0.5em;
		border: 1px solid #fff1;
	}

	article.profiles pre {
		white-space: normal;
	}

	pre > code {
		background-color: transparent;
	}

	.content {
		padding-bottom: 5em;
		max-width: 700px;
		min-width: 360px;
		width: 100%;
		margin: auto;
	}

	.content a {
		color: #5ca5ff;
	}

	.content a:hover {
		text-decoration: underline;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;
		margin: 0;
		font-weight: 500;
		padding: 1em 2rem .5em 0;
		width: max-content;
	}

	h1:hover .perma,
	h2:hover .perma,
	h3:hover .perma,
	h4:hover .perma,
	h5:hover .perma,
	h6:hover .perma {
		display: initial;
		text-decoration: none;
	}

	.perma {
		display: none;
		position: absolute;
		right: 0;
		font-size: 1rem;
	}

	h2 {
		padding-top: 2em;
		font-size: 2.5em;
	}

	h3 {
		font-size: 1.6em;
	}


	p,
	ul,
	code {
		margin-bottom: 1em;
		color: #e7e6ea;
	}

	strong {
		font-weight: 500;
	}

	img {
		width: 100%;
	}

	video {
		display: block;
		width: 80%;
		margin: auto;
		border-radius: 0.5em;
	}

	table {
		width: 100%;
		max-width: 800px;
		border-collapse: collapse;
		word-break: break-word;
	}

	th {
		padding: 1em;
		text-align: left;
	}

	td {
		padding: 1em;
		border: 1px solid #ccc;
		max-width: 500px;
	}

	@media (prefers-color-scheme: dark) {
		td {
			border-color: #666;
		}
	}

	@media only screen and (max-width: 700px) {
		article {
			flex-direction: column;
		}

		{
			min-width: 100%;
		}
	}

	@media only screen and (max-width: 500px) {
		h2 {
			font-size: 1.5em;
		}

		article {
			padding-bottom: 4em;
		}
	}
</style>
